<div class="subscribe-list__item">
    <div class="subscribe-info">
        <div class="subscribe-info__meta">
            <div class="newsletter-release">
                <span class="number">@@number</span>
                <span class="text">@@text</span>
            </div><!-- /.newsletter-release -->
            <div class="newsletter-published">
                @@published
            </div><!-- /.newsletter-published -->
            <div class="timetoread">
                <span class="timetoread-ico">
                    <include src="../../../images/svg/16x16/timetoread.svg"></include>
                </span>
                @@timetoread
            </div><!-- /.timetoread -->
        </div><!-- /.description-onfo__meta -->
        <div class="subscribe-info__description">
            <h2><a href="">@@h2</a></h2>
            <p>@@destext</p>
            <div class="tags-list">
                <div class="tags__item"><a class="tags__link" href="">GetSale</a></div>
                <div class="tags__item"><a class="tags__link" href="">Виджеты</a></div>
                <div class="tags__item"><a class="tags__link" href="">Поведенческие факторы</a></div>
                <div class="tags__item"><a class="tags__link" href="">Конструктор</a></div>
            </div><!-- /.tags-list -->
        </div><!-- /.subscribe-info__description -->
    </div><!-- /.subscribe-info -->
</div><!-- /.subscribe-list__item -->
