<div class="subscribe-page">
    <div class="section">
        <div class="single-page">
            <div class="content">

                <div class="subscribe-list">

                    <include src="__item-subscrible.html" number="260" text="выпуск" published="25 декабря 2016" timetoread="15 минут на чтение" h2="Итоги интернет-маркетинга 2016" destext="Что происходило в отрасли интернет-маркетинга в 2016 году, и на чем рекламодателям стоит заострить внимание в 2017-ом? В финальном выпуске рассылки делаем обзор значимых событий в SEO и digital-рекламе, а также подводим итоги работы Системы SeoPult"></include>
                    <include src="__item-subscrible.html" number="259" text="выпуск" published="25 декабря 2016" timetoread="12 минут на чтение" h2="Как привлечь продажи с блогов YouTube. Часть 2" destext="Продолжаем говорить о блогах YouTube как источнике качественного и недорогого трафика для бизнеса. В первой части выпуска можно узнать о том, почему невозможно игнорировать YouTube, как искать и выбирать блоги для рекламной кампании. Сегодня расскажем о процессе подготовки и размещения в видео-ролике блогера и результатах такого сотрудничества."></include>
                    <include src="__item-subscrible.html" number="Hot" text="выпуск" published="25 декабря 2016" timetoread="17 минут на чтение" h2="Тренды отрасли на CyberMarketing-2016" destext="Что происходило в отрасли интернет-маркетинга в 2016 году, и на чем рекламодателям стоит заострить внимание в 2017-ом? В финальном выпуске рассылки делаем обзор значимых событий в SEO и digital-рекламе, а также подводим итоги работы Системы SeoPult"></include>
                    <include src="__item-subscrible.html" number="258" text="выпуск" published="25 декабря 2016" timetoread="9 минут на чтение" h2="Как привлечь продажи с блогов YouTube. Часть 1" destext="Продолжаем говорить о блогах YouTube как источнике качественного и недорогого трафика для бизнеса. В первой части выпуска можно узнать о том, почему невозможно игнорировать YouTube, как искать и выбирать блоги для рекламной кампании. Сегодня расскажем о процессе подготовки и размещения в видео-ролике блогера и результатах такого сотрудничества."></include>
                    <include src="__item-subscrible.html" number="257" text="выпуск" published="20 декабря 2016" timetoread="29 минут на чтение" h2="Эффективные заголовки для SEO-продвижения" destext="Продолжаем говорить о блогах YouTube как источнике качественного и недорогого трафика для бизнеса. В первой части выпуска можно узнать о том, почему невозможно игнорировать YouTube, как искать и выбирать блоги для рекламной кампании. Сегодня расскажем о процессе подготовки и размещения в видео-ролике блогера и результатах такого сотрудничества."></include>
                </div><!-- /.subscribe-list -->

                <nav class="block-navigation">
                    <ul class="pagination">
                        <li class="pagination__item pagination__item-previous">
                            <a class="pagination__link pagination__link-ico" href="#">
                                <span><include src="../../../images/svg/pagination/left.svg"></include></span>
                            </a>
                        </li>
                        <li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
                        <li class="pagination__item pagination__item-active"><a class="pagination__link" href="#">2</a></li>
                        <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
                        <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
                        <li class="pagination__item"><a class="pagination__link" href="#">5</a></li>
                        <li class="pagination__item"><span>...</span></li>
                        <li class="pagination__item"><a class="pagination__link" href="#">18</a></li>
                        <li class="pagination__item pagination__item-next">
                            <a class="pagination__link pagination__link-ico" href="#">
                                <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                            </a>
                        </li>
                    </ul><!-- /ul.pagination -->
                </nav><!-- /nav.block-navigation -->

            </div> <!-- /.content -->
            <div class="sidebar">
                <h3>Оформите подписку</h3>
                <form class="subscribe-mini" action="" method="get">
                    <div class="form-group">
                        <input class="form-control" type="email" name="" placeholder="Введите вашу эл.&nbsp;почту">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-orange btn-full" type="submit" name="" value="Подписаться">
                    </div>
                    <p><a href="" class="i-have-an-idea">Предложить тему для выпуска</a></p>
                </form>
            </div><!-- /.sidebar -->
        </div><!-- /.single-page -->
    </div><!-- /.section -->
</div><!-- /.news-page -->



