@charset 'utf-8'

@import 'helpers/normalize.sss'
@import 'helpers/variables.sss'
@import 'base/default.sss'
@import 'base/typo.sss'
@import 'base/form.sss'
@import 'base/table.sss'
@import 'base/grid.sss'

@import '../templates/blocks/_header/_header.sss'
@import '../templates/blocks/_headline/_headline.sss'
@import '../templates/blocks/_lead/_lead.sss'
@import '../templates/blocks/_salut/_salut.sss'
@import '../templates/blocks/_fishki/_fishki.sss'
@import '../templates/blocks/_cheti/_cheti.sss'
@import '../templates/blocks/_news/_news.sss'
@import '../templates/blocks/_footer/_footer.sss'
@import '../templates/blocks/_slider/_slider.sss'
@import '../templates/blocks/_app/_app.sss'
@import '../templates/blocks/_card/_card.sss'
@import '../templates/blocks/_terms/_terms.sss'
@import '../templates/blocks/_help-content/_help-content.sss'
@import '../templates/blocks/_dictionary-list/_dictionary-list.sss'
@import '../templates/blocks/_faq/_faq.sss'
@import '../templates/blocks/_map/_map.sss'
@import '../templates/blocks/_feedback/_feedback.sss'
@import '../templates/blocks/_popup-video/_popup-video.sss'
@import '../templates/blocks/_popup-login/_popup-login.sss'
@import '../templates/blocks/_popup-faq/_popup-faq.sss'
@import '../templates/blocks/_pricing/_pricing.sss'
@import '../templates/blocks/_manager-steps/_manager-steps.sss'
@import '../templates/blocks/_years/_years.sss'
@import '../templates/blocks/_search/_search.sss'
@import '../templates/blocks/_search-results/_search-results.sss'
@import '../templates/blocks/_about/_about.sss'
@import '../templates/blocks/_questions/_questions.sss'
@import '../templates/blocks/_tags-box/_tags-box.sss'
@import '../templates/blocks/_leader/_leader.sss'

@import '../templates/page/_news/_news-list/_news-list.sss'
@import '../templates/page/_news/_news-single/_news-single.sss'
@import '../templates/page/_manual/_manual-single/_manual-single.sss'
@import '../templates/page/_subscribe/_subscribe-text.sss'
@import '../templates/page/_subscribe-index/_subscribe-index.sss'
