<div class="header-lead">
    <div class="header-lead__bg">
        <include src="../../../images/svg/back2.svg"></include>
    </div>
    <div class="sorry-error">
        <h1>Страница не найдена</h1>
        <h2>Возможно вы ошиблись адресом и случайно оказались на этой странице проекта</h2>
        <p>Вы можете связаться с нами по почте <a href="mailto:support@seopult.ru">support@seopult.ru</a></p>
        <div class="btn-block"><a href="" class="btn btn-inline">На главную страницу</a></div>
    </div>
</div><!-- /.lead -->
