<div class="popup popup-video">
    <div class="close"><include src="../../../images/svg/16x16/close.svg"></include></div><!-- /.close-btn -->
    <div class="video">
        <div class="video-cover">
            <img src="assets/images/demo/demo-bg/demo-video.png" alt="">
        </div><!-- /.video-cover -->
        <div class="video-description">
            <div class="video-header">
                <h2>Просто о сложном: Что такое SERM и как с ним работать</h2>
            </div><!-- /.video-header -->
            <div class="video-person">
                <div class="person-photo">
                    <img src="assets/images/demo/demo-bg/demo-person-photo.png" alt="">
                </div><!-- /.person-photo -->
                <div class="person-who">
                    <div class="person-name">Николай Коноплянников</div><!-- /.person-name -->
                    <div class="person-post">Руководитель телевизионного интернет-канала SeoPult.TV</div><!-- /.person-post -->
                </div> <!-- /.person-who -->
            </div><!-- /.video-person -->
            <div class="tags-list">
                <div class="tags__item"><a class="tags__link" href="">GetSale</a></div>
                <div class="tags__item"><a class="tags__link" href="">Виджеты</a></div>
                <div class="tags__item"><a class="tags__link" href="">Поведенческие факторы</a></div>
                <div class="tags__item"><a class="tags__link" href="">Конструктор</a></div>
            </div>
        </div><!-- /.video-description -->
    </div><!-- /.video -->
</div><!-- /.popup popup-video -->
