<div class="help-content">
    <div class="section">
        <h2>Часто задаваемые вопросы</h2>
        <div class="faq_contents">
            <ol>
            <li><a href="#" class="faq-link"><span class="gray-numb">1</span><span class="faq-link_text">Финансовые вопросы</span><span class="faq-count">27 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">2</span><span class="faq-link_text">Общие вопросы по работе</span><span class="faq-count">42 ответа</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">3</span><span class="faq-link_text">Вопросы по работе с проектами</span><span class="faq-count">37 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">4</span><span class="faq-link_text">Маркеры, статусы и метки системы</span><span class="faq-count">18 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">5</span><span class="faq-link_text">Вопросы по технологии SeoPult MAX</span><span class="faq-count">6 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">6</span><span class="faq-link_text">Вопросы по написанию контента</span><span class="faq-count">4 ответав</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">7</span><span class="faq-link_text">Вопросы по продвижению статьями</span><span class="faq-count">21 ответ</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">8</span><span class="faq-link_text">Вопросы по ссылкам из социальных сетей</span><span class="faq-count">7 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">9</span><span class="faq-link_text">Вопросы по покупке контекстно-медийных объявлений MaxTarget<sup>&nbsp;beta</sup></span><span class="faq-count">5 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">10</span><span class="faq-link_text">Вопросы по трафиковому продвижению</span><span class="faq-count">11 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">11</span><span class="faq-link_text">Вопросы по контекстной рекламе</span><span class="faq-count">37 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">12</span><span class="faq-link_text">Вопросы по модулю SERM — управление репутацией в поисковых системах</span><span class="faq-count">6 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">13</span><span class="faq-link_text">Вопросы по услуге контент маркетинг</span><span class="faq-count">24 ответа</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">14</span><span class="faq-link_text">Вопросы по менеджерской поддержке (персональный менеджер, аудиты сайтов)</span><span class="faq-count">28 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">15</span><span class="faq-link_text">Вопросы по партнерской программе</span><span class="faq-count">5 ответов</span></a></li>
            <li><a href="#" class="faq-link"><span class="gray-numb">16</span><span class="faq-link_text">Вопросы по бонусной программе SeoPult</span><span class="faq-count">1 ответ</span></a></li>
            </ol>
        </div><!-- /.faq_contents -->
    </div><!-- /.section -->
</div><!-- /.help-content -->
