<div class="leader-box">
    <div class="section">
        <div class="leader">
            <div class="leader-wrapper">
                <div class="leader-photo">
                    <img src="assets/images/demo/shtarev.png" alt="">
                </div><!-- /.leader-photo -->
                <div class="leader-text">
                    <h2>Уважаемые посетители!</h2>
                    <p>Тут должен быть текст призывающий пользователей не боятся, а сразу регистрироваться потому что дальше мы поможем</p>
                    <p class="leader-info">Алексей Штарев, исполнительный директор SeoPult</p>
                </div><!-- /.leader-text -->
                <div class="leader-btn">
                    <div class="btn-box"><a href="" class="btn btn-orange btn-inline">Попробовать бесплатно</a></div>
                </div><!-- /.leader-btn -->
            </div><!-- /.leader-wrapper -->
        </div><!-- /.leader -->
    </div><!-- /.section -->
</div><!-- /.leader-box -->
