<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блок «Фишки»</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/guides/guides.css">
</head>
<body class="guides">
    <div class="wrap">
        <include src="_guides-blocks/nav.html" fishki="nav_sub_item__active"></include>
        <div class="container">
            <div class="content">
                <div class="wrapper">
                        <h1>Блок «Фишки»</h1>
                        <div class="block">
                            <div class="block_anchor"><a href="#01" name="01">01</a></div><!-- /.block_anchor -->
                            <p>Блок «Фишки» представляет собой двухколоночный список. В каждом отдельном элементе «фишек» может быть заголовок, иконка/иконки, после заголовка может располагаться любой другой блок с произвольным содержимым, абзац текста иили маркированный/нумерованный список, текст с кнопкой и т.п..</p>
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#01" name="02">02</a></div><!-- /.block_anchor -->
                            <div class="demo">
                                <include src="../../blocks/_fishki/_fishki.html"></include>
                            </div><!-- /.demo -->
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#01" name="03">03</a></div><!-- /.block_anchor -->
                            <div class="demo">
                                <include src="../../blocks/_fishki/_fishki4.html"></include>
                            </div><!-- /.demo -->
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#03" name="04">04</a></div><!-- /.block_anchor -->
                            <p>Также в блоке «Фишки» можно использовать ноумерованные и маркированные списки. Количество колонок может быть произвольным и задаётся через общую <a href="#">сетку</a> сайта.</p>
                            <p>Для того, чтобы буллеты у маркированного списка превратились в оранжевые галочки необходимо к элементу <code>ul</code> добавить класс <code>.check</code> — <code>&lt;ul class="check"&gt;</code>.</p>
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#05" name="05">05</a></div><!-- /.block_anchor -->
                            <div class="demo">
                                <include src="../../blocks/_fishki/_fishki2.html"></include>
                            </div><!-- /.demo -->
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#06" name="06">06</a></div><!-- /.block_anchor -->
                            <p>Чтобы залить блок светлым фоном (белый) — нужно добавить к обшему блоку класс <code>.box-light</code>.</p>
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#07" name="07">07</a></div><!-- /.block_anchor -->
                            <div class="demo">
                                <include src="../../blocks/_fishki/_fishki3.html"></include>
                            </div><!-- /.demo -->
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#08" name="08">08</a></div><!-- /.block_anchor -->
                            <p>Также «Фишки» могут быть простым двухколоночными блоком с маркированными списками в кажой колонке.</p>
                            <p>Для добавления нижней границе к блоку нужно добавить класс <code>.box-bb</code>.</p>
                        </div><!-- /.block -->
                        <div class="block">
                            <div class="block_anchor"><a href="#09" name="09">09</a></div><!-- /.block_anchor -->
                            <div class="demo">
                                <include src="../../blocks/_fishki/_fishki5.html"></include>
                            </div><!-- /.demo -->
                        </div><!-- /.block -->
            </div>
            </div>
        </div>
    </div>
</body>
</html>
