<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сетка</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/guides/guides.css">
</head>
<body class="guides">
    <div class="wrap">
        <include src="_guides-blocks/nav.html" grid="nav_sub_item__active"></include>
        <div class="container">
            <div class="content">
                <div class="wrapper">
                    <h1>Сетка</h1>
                    <div class="block">
                        <div class="block_anchor"><a href="#01" name="01">01</a></div><!-- /.block_anchor -->
                        <p></p>
                    </div><!-- /.block -->
                    <div class="block">
                        <div class="block_anchor"><a href="#02" name="02">02</a></div><!-- /.block_anchor -->
                        <p></p>
                        <div class="ex">

                            <div class="section">
                                <div class="box">
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                    <div class="col1">1</div>
                                </div>
                                <div class="box">
                                    <div class="col1">1</div>
                                    <div class="col2">2</div>
                                    <div class="col3">3</div>
                                    <div class="col4">4</div>
                                    <div class="col5">5</div>
                                </div>
                                <div class="box">
                                    <div class="col-half">50%</div>
                                    <div class="col-half">50%</div>
                                </div>
                                <div class="box">
                                    <div class="col6">6</div>
                                    <div class="col9">9</div>
                                </div>
                                <div class="box">
                                    <div class="col7">7</div>
                                    <div class="col8">8</div>
                                </div>
                                <div class="box">
                                    <div class="col11">11</div>
                                </div>
                                <div class="box">
                                    <div class="col12">12</div>
                                </div>
                                <div class="box">
                                    <div class="col13">13</div>
                                </div>
                                <div class="box">
                                    <div class="col14">14</div>
                                </div>
                                <div class="box">
                                    <div class="col15">15</div>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.block -->
                </div><!-- /.wrapper -->
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.wrap -->
</body>
</html>
