<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Иконки и спрайты</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/guides/guides.css">
</head>
<body class="guides" style="background-color: rgb(57, 60, 64);">
    <div class="wrap">
        <include src="_guides-blocks/nav.html" icons="nav_sub_item__active"></include>
        <div class="container container-dark">
            <div class="content">
                <div class="wrapper">
                    <h1>Иконки и спрайты</h1>
                    <div class="block">
                        <div class="block_anchor"><a href="#01" name="01">01</a></div><!-- /.block_anchor -->
                        <p>В оформлении блоков используется вспомогательная графика. Иконки лучше всего употреблять в SVG формате.</p>
                        <p>В макете используется два размераиконок: 40&times;40px и 16&times;16px.</p>
                    </div><!-- /.block -->
                    <div class="block">
                        <div class="block_anchor"><a href="#02" name="02">02</a></div><!-- /.block_anchor -->
                        <p>Иконки 40&times;40px, используемые в дизайне:</p>

                        <div class="icon-section">
                            <div class="demo-ico__list">

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/loupe.svg"></include></div>
                                    <div class="demo-ico__info">loupe</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/target.svg"></include></div>
                                    <div class="demo-ico__info">target</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/megaphone.svg"></include></div>
                                    <div class="demo-ico__info">megaphone</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/traf.svg"></include></div>
                                    <div class="demo-ico__info">traf</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/video.svg"></include></div>
                                    <div class="demo-ico__info">video</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/education.svg"></include></div>
                                    <div class="demo-ico__info">education</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/books.svg"></include></div>
                                    <div class="demo-ico__info">books</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/dictionary.svg"></include></div>
                                    <div class="demo-ico__info">dictionary</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/rep.svg"></include></div>
                                    <div class="demo-ico__info">rep</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/analyz.svg"></include></div>
                                    <div class="demo-ico__info">analyz</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/cont.svg"></include></div>
                                    <div class="demo-ico__info">cont</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/text.svg"></include></div>
                                    <div class="demo-ico__info">text</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/code.svg"></include></div>
                                    <div class="demo-ico__info">code</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/people.svg"></include></div>
                                    <div class="demo-ico__info">people</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/analytics.svg"></include></div>
                                    <div class="demo-ico__info">analytics</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/microchip.svg"></include></div>
                                    <div class="demo-ico__info">microchip</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/controls.svg"></include></div>
                                    <div class="demo-ico__info">controls</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/question.svg"></include></div>
                                    <div class="demo-ico__info">question</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/time.svg"></include></div>
                                    <div class="demo-ico__info">time</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/clipboard.svg"></include></div>
                                    <div class="demo-ico__info">clipboard</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/gift.svg"></include></div>
                                    <div class="demo-ico__info">gift</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/block.svg"></include></div>
                                    <div class="demo-ico__info">block</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/attention.svg"></include></div>
                                    <div class="demo-ico__info">attention</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/bell.svg"></include></div>
                                    <div class="demo-ico__info">bell</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/flower.svg"></include></div>
                                    <div class="demo-ico__info">flower</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/lamp.svg"></include></div>
                                    <div class="demo-ico__info">lamp</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/links.svg"></include></div>
                                    <div class="demo-ico__info">links</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/piggy.svg"></include></div>
                                    <div class="demo-ico__info">piggy</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/hand.svg"></include></div>
                                    <div class="demo-ico__info">hand</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/wallet.svg"></include></div>
                                    <div class="demo-ico__info">wallet</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/award.svg"></include></div>
                                    <div class="demo-ico__info">award</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/bag.svg"></include></div>
                                    <div class="demo-ico__info">bag</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/calendar.svg"></include></div>
                                    <div class="demo-ico__info">calendar</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/40x40/university.svg"></include></div>
                                    <div class="demo-ico__info">university</div>
                                </div><!-- /.demo-ico__item -->

                            </div><!-- /.demo-ico__list -->
                        </div><!-- /.icon-section -->

                    </div><!-- /.block -->
                    <div class="block">
                        <div class="block_anchor"><a href="#03" name="03">03</a></div><!-- /.block_anchor -->
                        <p>Иконки 16&times;16px, используемые в дизайне:</p>

                        <div class="icon-section">
                            <div class="demo-ico__list demo-ico__list--small">

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/cam.svg"></include></div>
                                    <div class="demo-ico__info">cam</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/close.svg"></include></div>
                                    <div class="demo-ico__info">close</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/cross.svg"></include></div>
                                    <div class="demo-ico__info">cross</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/help-icon.svg"></include></div>
                                    <div class="demo-ico__info">help-icon</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/home-icon.svg"></include></div>
                                    <div class="demo-ico__info">home-icon</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/microphone.svg"></include></div>
                                    <div class="demo-ico__info">microphone</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/search.svg"></include></div>
                                    <div class="demo-ico__info">search</div>
                                </div><!-- /.demo-ico__item -->
                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/search-icon.svg"></include></div>
                                    <div class="demo-ico__info">search-icon</div>
                                </div><!-- /.demo-ico__item -->

                                <div class="demo-ico__item">
                                    <div class="demo-ico__box"><include src="../../../../app/images/svg/16x16/timetoread.svg"></include></div>
                                    <div class="demo-ico__info">timetoread</div>
                                </div><!-- /.demo-ico__item -->

                            </div><!-- /.demo-ico__list -->
                        </div><!-- /.icon-section -->

                    </div><!-- /.block -->
                </div><!-- /.wrapper -->
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.wrap -->
</body>
</html>
