<div class="feedback">
    <div class="section">
        <div class="feedback__wrapper">
            <div class="form-col">
                <div class="feedback__form">
                    <form action="">
                        <div class="box1">
                            <div class="co">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Представтесь" required tabindex="1">
                                </div>
                            </div>
                            <div class="co">
                                <div class="form-group">
                                    <input type="mail" class="form-control" placeholder="Ваш email" required tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="box1">
                            <div class="col15">
                                <div class="form-group">
                                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Место для вопроса..." required tabindex="3" @@autofocus></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="box1-bottom">
                            <div class="checkbox">
                                <input type="checkbox" name="group2" id="checkbox-1" checked>
                                <label for="checkbox-1"><span class="checkbox-control">Получать на почту полезные материалы</span></label>
                            </div>
                            <button type="submit" class="btn btn-orange" tabindex="4">Отправить</button>
                        </div>
                    </form>
                </div><!-- /.feedback__form -->
            </div><!-- /.form-col -->
            <div class="mail-col">
                <div class="box1">
                    <div class="col7">
                        <div class="feedback__mail">
                            <div class="mail__item">
                                <div class="mail-label">Техническая поддержка</div>
                                <a href="mailto:support@seopult.ru" class="mail-link">support@seopult.ru</a>
                            </div><!-- /.mail__item -->

                            <div class="mail__item">
                                <div class="mail-label">Финансовые вопросы</div>
                                <a href="mailto:articles@seopult.ru" class="mail-link">billing@seopult.ru</a>
                            </div><!-- /.mail__item -->

                            <div class="mail__item">
                                <div class="mail-label">Для партнеров</div>
                                <a href="mailto:articles@seopult.ru" class="mail-link">partner@seopult.ru</a>
                            </div><!-- /.mail__item -->
                        </div><!-- /.feedback__mail -->
                    </div><!-- /.col7 -->
                    <div class="col7">
                        <div class="mini-menu">
                            <h3>Смотрите также</h3>
                            <ul class="about-menu">
                                <li class="about-menu__item"><a href="#" class="li about-menu__link">Карьера у нас</a></li>
                                <li class="about-menu__item"><a href="#" class="li about-menu__link">Сотрудничество</a></li>
                                <li class="about-menu__item"><a href="#" class="li about-menu__link">Реферальная программа</a></li>
                                <li class="about-menu__item"><a href="#" class="li about-menu__link">Договоры и условия</a></li>
                                <li class="about-menu__item"><a href="#" class="li about-menu__link">Логотип</a></li>
                            </ul>
                        </div><!-- /.mini-menu -->
                    </div><!-- /.col7 -->
                </div><!-- /.box1 -->
            </div><!-- /.mail-col -->
        </div><!-- /.feedback__wrapper -->
    </div><!-- /.section -->
</div><!-- /.feedback -->
