<div class="faq">
    <div class="section">
        <div class="box__header">
            <h2>Частые вопросы</h2>
            <div class="btn-right">
                <a href="" class="btn btn-outline-light">Перейти в FAQ</a>
            </div><!-- /.btn-right -->
        </div><!-- /.box__header -->

        <div class="faq-list">
            <div class="faq__item">
                <h3>Есть ли гарантия выхода в целевой ТОП?</h3>
                <p>Стоит заметить, что 100% гарантии дать не может никто, естественно не принимая во внимание мошенников и чересчур наивных новичков, потому что все по сути зависит от поисковых систем, так как они диктуют правила.</p>
            </div><!-- /.faq__item -->

            <div class="faq__item">
                <h3>Будет ли система продолжать покупать ссылки по достижению установленного ТОПа в одной из поисковых систем?</h3>
                <p>Как только проект достиг установленного в системе ТОПа для выбранной основной поисковой системы, то есть достиг заданного результата, ссылки перестают покупаться. </p>
            </div><!-- /.faq__item -->

            <div class="faq__item">
                <h3>Что произойдет при смене продвигаемой страницы?</h3>
                <p>Все купленные ссылки поменяют адрес автоматически, закупка новых ссылок начнется в течении 1-3 дня, к новым ссылкам изначально будут применены изменения.</p>
            </div><!-- /.faq__item -->

            <div class="faq__item">
                <h3>Что произойдет, если баланс упадет до нуля?</h3>
                <p>Ссылки будут заморожены. Фактически это означает их удаление, но будут сохранены их параметры в базе данных. </p>
            </div><!-- /.faq__item -->
        </div><!-- /.faq-list -->

    </div><!-- /.section -->
</div><!-- /.faq -->
