<div class="pricing">
    <div class="section">
        <div class="pricing-box">
            <table class="pricing-table">
                <thead>
                    <tr class="select">
                        <th>&nbsp;</th>
                        <th class="select-u">Выбор пользователей</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr class="types">
                        <th><h2>Пакеты услуг</h2></th>
                        <th width="23%">
                            <div class="tariff">
                                <h3 class="tariff-name">Дорога к успеху</h3>
                                <div class="tariff-info">Полная передача прав на <br> ведение рекламной <br> кампании</div>
                                <div class="tariff-cost">
                                    <div class="cost">
                                        <div class="cost-summ">2 600</div>
                                        <div class="cost-period">рублей<br>месяц</div>
                                    </div><!-- /.cost -->
                                </div><!-- /.tariff-cost -->
                                <div class="tariff-btn">
                                    <a href="" class="btn btn-orange">Подключить</a>
                                </div><!-- /.tariff-btn -->
                            </div><!-- /.tariff -->
                        </th>
                        <th width="23%">
                            <div class="tariff">
                                <h3 class="tariff-name">Совместный путь</h3>
                                <div class="tariff-info">Аудит и настройка<br> рекламных кампаний по<br> вашим пожеланиям</div>
                                <div class="tariff-cost">
                                    <div class="cost">
                                        <div class="cost-summ">1 400</div>
                                        <div class="cost-period">рублей<br>месяц</div>
                                    </div><!-- /.cost -->
                                </div><!-- /.tariff-cost -->
                                <div class="tariff-btn">
                                    <a href="" class="btn btn-orange">Подключить</a>
                                </div><!-- /.tariff-btn -->
                            </div><!-- /.tariff -->
                        </th>
                        <th width="23%">
                            <div class="tariff">
                                <h3 class="tariff-name">Моральная помощь</h3>
                                <div class="tariff-info">Консультирование по<br> настройке рекламных<br> капаний</div>
                                <div class="tariff-cost">
                                    <div class="cost">
                                        <div class="cost-summ">800</div>
                                        <div class="cost-period">рублей<br>месяц</div>
                                    </div><!-- /.cost -->
                                </div><!-- /.tariff-cost -->
                                <div class="tariff-btn">
                                    <a href="" class="btn btn-orange">Подключить</a>
                                </div><!-- /.tariff-btn -->
                            </div><!-- /.tariff -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="service">Исследование тематики и сайтов конкурентов</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                    </tr>
                    <tr>
                        <td class="service">Разработка стратегии увеличения трафика</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                    </tr>
                    <tr>
                        <td class="service">Выбор приоритетов по рекламным каналам</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                    </tr>
                    <tr>
                        <td class="service">Подбор ключевых слов</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                    </tr>
                    <tr>
                        <td class="service">Составление текстов объявлений</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                    </tr>
                    <tr>
                        <td class="service">Настройка таргетинга по времени и региону</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                    </tr>
                    <tr>
                        <td class="service">Исследование тематики и сайтов конкурентов</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="no">—</span></td>
                    </tr>
                    <tr>
                        <td class="service">Разработка стратегии увеличения трафика</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="no">—</span></td>
                        <td><span class="no">—</span></td>
                    </tr>
                    <tr>
                        <td class="service">Выбор приоритетов по рекламным каналам</td>
                        <td><span class="check">есть</span></td>
                        <td><span class="no">—</span></td>
                        <td><span class="no">—</span></td>
                    </tr>
                    <tr>
                        <td class="service">Отвечаем на телефон после 20<sup>:00</sup></td>
                        <td><span class="check">есть</span></td>
                        <td><span class="no">—</span></td>
                        <td><span class="no">—</span></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.pricing-box -->
    </div><!-- /.section -->
</div><!-- /.pricing -->
