<div class="questions">
    <div class="section">
        <div class="questions-list">

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/wallet.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Финансовые вопросы</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box questions-box_expand">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/microchip.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Общие вопросы по работе</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">
                        <ul>
                            <li>Как перенести проект на другой аккаунт?</li>
                            <li>Где можно переименовать проект?</li>
                            <li>Где можно изменить URL адрес проекта?</li>
                            <li>Как производить покупку ссылок в ручном режиме?</li>
                            <li>Где можно изменить продвигаемую страницу?</li>
                            <li>Как продолжить покупать ссылки при достижении заданного ТОПа?</li>
                            <li>Ссылки не покупаются на весь установленный бюджет.</li>
                            <li>Как поменять анкоры?</li>
                            <li>Как настроить модуль съема?</li>
                            <li>Как проверить, запущена ли простановка?</li>
                            <li>Настроил ручные режимы, а система не учитывает мои настройки.</li>
                            <li>Почему перестали закупаться ссылки? Несколько дней новые ссылки не закупаются.</li>
                            <li>Как мне остановить проект, слова в проекте?</li>
                            <li>Как остановить покупку новых ссылок?</li>
                            <li>Как выбрать тематические площадки?</li>
                            <li>Как мне сменить тексты в уже размещенных ссылках?</li>
                            <li>Где я могу посмотреть купленные ссылки?</li>
                            <li>Пожаловаться на донора</li>
                        </ul>
                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/microchip.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по работе с проектами</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/lamp.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Маркеры, статусы и метки системы</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/microchip.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по технологии SeoPult MAX</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/text.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по написанию контента</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/microchip.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по продвижению статьями</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/links.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по ссылкам из социальных сетей</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/microchip.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по покупке контекстно-медийных объявлений MaxTarget <sup style="text-transform: none">beta</sup></h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/traf.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по трафиковому продвижению</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/target.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по контекстной рекламе</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/rep.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по модулю SERM — управление репутацией в поисковых системах</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/megaphone.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по услуге контент-маркетинг</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/people.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по менеджерской поддержке (персональный менеджер, аудиты сайтов)</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/bag.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по партнерской программе</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

            <div class="questions__item">
                <div class="questions-box">
                    <div class="questions-type">
                        <div class="questions-icon">
                            <span><include src="../../../images/svg/40x40/gift.svg"></include></span>
                        </div><!-- /.questions-icon -->
                        <div class="questions-head">
                            <h2>Вопросы по бонусной программе SeoPult</h2>
                        </div><!-- /.questions-head -->
                        <div class="questions-status">
                            <span><include src="../../../images/svg/pagination/right.svg"></include></span>
                        </div><!-- /.questions-status -->
                    </div><!-- /.questions-type -->
                    <div class="questions__content">

                    </div><!-- /.questions__content -->
                </div><!-- /.questions-box -->
            </div><!-- /.questions__item -->

        </div><!-- /.questions-list -->
    </div><!-- /.section -->
</div><!-- /.questions -->
