<div class="search">
    <div class="section">
        <form action="" class="terms-form">
            <div class="form-group">
                <div class="icon"><span class="search-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="16.031" height="16" viewBox="0 0 16.031 16">
  <defs>
    <style>
      .cls-1 {
          fill: #d7dbdf;
          fill-rule: evenodd;
      }
    </style>
  </defs>
  <path d="M15.704,15.703 C15.298,16.109 14.640,16.109 14.235,15.703 L11.998,13.467 C10.742,14.416 9.195,14.999 7.500,14.999 C3.358,14.999 -0.000,11.641 -0.000,7.498 C-0.000,3.357 3.358,-0.001 7.500,-0.001 C11.642,-0.001 15.000,3.357 15.000,7.498 C15.000,9.194 14.416,10.740 13.467,11.997 L15.704,14.234 C16.109,14.639 16.109,15.297 15.704,15.703 ZM7.500,1.998 C4.462,1.998 2.000,4.461 2.000,7.498 C2.000,10.537 4.462,12.999 7.500,12.999 C8.867,12.999 10.102,12.482 11.064,11.656 C11.115,11.524 11.190,11.400 11.296,11.295 C11.402,11.189 11.526,11.114 11.657,11.063 C12.482,10.101 13.000,8.867 13.000,7.498 C13.000,4.461 10.537,1.998 7.500,1.998 Z" class="cls-1"/>
</svg>
</span></div>
                <input type="text" class="form-control" placeholder="Поиск по терминам и определениям..." name="" value="Семантическое ядро">
            </div>
        </form>
    </div>
    <div class="term-description">
        <div class="section">
            <p><strong>Семантическое ядро</strong>&nbsp;&mdash; это база поисковых слов, их&nbsp;словосочетаний и&nbsp;морфологических форм, наиболее точно характеризующих вид деятельности, товары или услуги, которые предлагает сайт, и&nbsp;специально подобранных для его продвижения...</p>
            <div class="btn-box">
                <a href="" class="btn btn-inline btn-outline-light2">Полное описание</a>
            </div>
        </div>
    </div>
    <div class="section">
        <ul class="results-list">
            <li class="results__item active">
                <a href="" class="results-link">Все результаты<span class="results-count">67</span></a>
            </li>
            <li class="results__item">
                <a href="" class="results-link">Инструкции<span class="results-count">2</span></a>
            </li>
            <li class="results__item">
                <a href="" class="results-link">Вопрос-ответ<span class="results-count">1</span></a>
            </li>
            <li class="results__item">
                <a href="" class="results-link">База знаний<span class="results-count">2</span></a>
            </li>
            <li class="results__item">
                <a href="" class="results-link">Новости<span class="results-count">2</span></a>
            </li>
        </ul>
    </div>
</div>
