<div class="years">
    <div class="section">
        <ul class="years-list">
            <li class="years__item"><a href="" class="year-link">2017</a></li>
            <li class="years__item active"><a href="" class="year-link">2016</a></li>
            <li class="years__item"><a href="" class="year-link">2015</a></li>
            <li class="years__item"><a href="" class="year-link">2014</a></li>
            <li class="years__item"><a href="" class="year-link">2013</a></li>
            <li class="years__item"><a href="" class="year-link">2012</a></li>
            <li class="years__item"><a href="" class="year-link">2011</a></li>
            <li class="years__item"><a href="" class="year-link">2010</a></li>
            <li class="years__item"><a href="" class="year-link">2009</a></li>
            <li class="years__item"><a href="" class="year-link">2008</a></li>
        </ul>
    </div>
</div>
