<div class="steps">
    <div class="section">
        <h2>Как работает персональный менеджер</h2>
        <div class="steps__list">

            <div class="step">
                <div class="step__box">
                    <div class="step__number">
                        <div class="step-number">
                            <span>1</span>
                        </div><!-- /.step-number -->
                    </div><!-- /.step__number -->
                    <div class="step__text">
                        <h3>Составление задания на аудит</h3>
                        <p>Персональный менеджер составляет задание на аудит</p>
                    </div><!-- /.steps__text -->
                    <div class="step__icon">
                        <div class="step-icon">
                            <span class="steps-i"><include src="../../../images/svg/40x40/people.svg"></include></span>
                        </div><!-- /.step-icon -->
                    </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
            </div><!-- /.step -->

            <div class="step">
                <div class="step__box">
                    <div class="step__number">
                        <div class="step-number">
                            <span>2</span>
                        </div><!-- /.step-number -->
                    </div><!-- /.step__number -->
                    <div class="step__text">
                        <h3>Аудит</h3>
                        <p>Специалист проводит аудит вашего сайта и сайтов схожей тематики</p>
                    </div><!-- /.steps__text -->
                    <div class="step__icon">
                        <div class="step-icon">
                            <span class="steps-i"><include src="../../../images/svg/40x40/analyz.svg"></include></span>
                        </div><!-- /.step-icon -->
                    </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
            </div><!-- /.step -->

            <div class="step">
                <div class="step__box">
                    <div class="step__number">
                        <div class="step-number">
                            <span>3</span>
                        </div><!-- /.step-number -->
                    </div><!-- /.step__number -->
                    <div class="step__text">
                        <h3>Составление задания на внутреннюю оптимизацию</h3>
                        <p>Персональный менеджер составляет задание на аудит вашего сайта и сайтов схожей</p>
                    </div><!-- /.steps__text -->
                    <div class="step__icon">
                        <div class="step-icon">
                            <span class="steps-i"><include src="../../../images/svg/40x40/microchip.svg"></include></span>
                        </div><!-- /.step-icon -->
                    </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
            </div><!-- /.step -->

            <div class="step">
                <div class="step__box">
                    <div class="step__number">
                        <div class="step-number">
                            <span>4</span>
                        </div><!-- /.step-number -->
                    </div><!-- /.step__number -->
                    <div class="step__text">
                        <h3>Оптимизация сайта</h3>
                        <p>Персональный менеджер составляет задание на аудит вашего сайта и сайтов схожей тематики с успешными</p>
                    </div><!-- /.steps__text -->
                    <div class="step__icon">
                        <div class="step-icon">
                            <span class="steps-i"><include src="../../../images/svg/40x40/code.svg"></include></span>
                        </div>
                        <div class="step-icon">
                            <span class="steps-i"><include src="../../../images/svg/40x40/text.svg"></include></span>
                        </div><!-- /.step-icon -->
                    </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
            </div><!-- /.step -->

            <div class="step">
                <div class="step__box">
                    <div class="step__number">
                        <div class="step-number">
                            <span>4</span>
                        </div><!-- /.step-number -->
                    </div><!-- /.step__number -->
                    <div class="step__text">
                        <h3>Составление отчёта</h3>
                        <p>Персональный менеджер составляет задание на аудит вашего сайта и сайтов схожей тематики</p>
                    </div><!-- /.steps__text -->
                    <div class="step__icon">
                        <div class="step-icon">
                            <span class="steps-i"><include src="../../../images/svg/40x40/cont.svg"></include></span>
                        </div><!-- /.step-icon -->
                    </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
            </div><!-- /.step -->

        </div><!-- /.steps__list -->
    </div><!-- /.section -->
</div><!-- /.steps -->
