<div class="slider slider-light">

  <div class="headline-menu slider-menu">
    <div class="section">
      <ul class="nav _spy-nav">
        <li class="nav__item">
          <a href="#a1">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/education.svg"></include></div>
              <div class="text">Офлайн курсы и вебинары</div>
            </div>
          </a>
        </li>
        <li class="nav__item">
          <a href="#a2">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/video.svg"></include></div>
              <div class="text">Обучающие видео</div>
            </div>
          </a>
        </li>
        <li class="nav__item active">
          <a href="#a3">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/books.svg"></include></div>
              <div class="text">Информационная рассылка</div>
            </div>
          </a>
        </li>
        <li class="nav__item">
          <a href="#a3">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/books.svg"></include></div>
              <div class="text">Справочная информация</div>
            </div>
          </a>
        </li>
      </ul><!-- /.nav -->
    </div><!-- /.section -->
  </div><!-- /.headline-menu -->

  <div class="slider-full-box">
    <div class="section">

      <div class="slider__wrapper">

        <div class="slider-nav slider-nav__light slider-nav__left">
          <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/left.svg"></include></a>
        </div><!-- /.slider-nav -->

        <div class="slider-full-list">

          <div class="slider-full__item">
            <div class="salut-clear salut-clear--no-bg">
              <div class="section">

                <div class="salut-clear-box" style="padding-bottom: 60px">
                  <div class="salut-9" style="margin-left: 10px;">
                    <h2>Информационные и обучающие материалы</h2>
                    <p class="lead">Система SeoPult — не только инструмент, но и источник знаний о том, как наиболее эффективно продвигать интернет-ресурсы.</p>
                    <p>Система SeoPult — не только инструмент, но и источник знаний о том, как наиболее эффективно продвигать интернет-ресурсы. Подпишитесь на нашу рассылку, чтобы периодически получать новые знания в вашу электронную почту.</p>
                    <div class="btn-box">
                        <a href="seo.html" class="btn btn-outline-orange" style="margin-right: 10px;">Смотреть все выпуски</a>
                      <form class="subscribe-mini subscribe-mini--inline" action="" method="get">
                        <div class="form-group">
                          <input class="form-control" type="email" name="" placeholder="Введите вашу эл.&nbsp;почту">
                        </div>
                        <div class="form-group">
                          <input class="btn btn-orange btn-full" type="submit" name="" value="Подписаться">
                        </div>
                      </form>
                    </div><!-- /.btn-box -->
                  </div><!-- /.salut-9 -->
                  <div class="salut-5">
                    <div class="img-box center">
                      <div class="newsletter-box" style="width: 370px;">
                        <div class="newsletter__headline">
                          <a href="" class="newsletter-link">
                            <div class="newsletter-img">
                              <img src="assets/images/demo/newsletter/demo-newsletter1.png" alt="">
                            </div><!-- /.newsletter-img -->
                            <div class="newsletter-release">
                              <span class="number">256</span>
                              <span class="text">выпуск</span>
                            </div><!-- /.newsletter-release -->
                          </a><!-- /a.newsletter-link -->
                        </div><!-- /.newsletter__headline -->
                        <div class="newsletter__description">
                          <h2><a href="">Howto. Как повысить продажи к Новому году</a></h2>
                          <div class="timetoread">
                            <span class="timetoread-ico">
                              <include src="../../../images/svg/16x16/timetoread.svg"></include>
                            </span>
                            15 минут на чтение
                          </div><!-- /.timetoread -->
                        </div><!-- /.newsletter__description -->
                      </div><!-- /.newsletter-box -->
                    </div><!-- /.img-box -->
                  </div><!-- /.salut-4 -->
                </div><!-- /.salut-clear-box -->

              </div><!-- /.section -->
            </div><!-- /.salut -->
          </div><!-- /.slider-full__item -->

        </div><!-- /.slider-full-list -->

        <div class="slider-nav slider-nav__light slider-nav__right">
          <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/right.svg"></include></a>
        </div><!-- /.slider-nav -->

      </div><!-- /.slider__wrapper -->

    </div><!-- /.section -->
  </div><!-- /.slider-full-box -->

</div><!-- /.slider -->
