<div class="slider slider-light">
  <div class="section">

    <div class="box__header">
      <h2>Свежие выпуски</h2>
      <div class="btn-right">
        <a href="" class="btn btn-outline-light">Показать все</a>
      </div><!-- /.btn-right -->
    </div><!-- /.box__header -->

    <div class="subscribe-last">

      <div class="subscribe-last__item">
        <div class="subscribe-last__box">
          <div class="newsletter-img">
            <img src="assets/images/demo/newsletter/demo-newsletter4.png" alt="">
          </div><!-- /.newsletter-img -->
          <div class="subscribe-last-release">Выпуск 260</div>
          <div class="subscribe-last__name">
            <h2><a href="">Итоги интернет-маркетинга 2016</a></h2>
          </div><!-- /.subscribe-last__name -->
          <div class="timetoread">
              <span class="timetoread-ico">
                <include src="../../../images/svg/16x16/timetoread.svg"></include>
              </span>
            15 минут на чтение
          </div><!-- /.timetoread -->
        </div><!-- /.subscribe-last__box -->
      </div><!-- /.subscribe-last__item -->

      <div class="subscribe-last__item">
        <div class="subscribe-last__box">
          <div class="newsletter-img">
            <img src="assets/images/demo/newsletter/demo-newsletter5.png" alt="">
          </div><!-- /.newsletter-img -->
          <div class="subscribe-last-release">Выпуск 259</div>
          <div class="subscribe-last__name">
            <h2><a href="">Как привлечь продажи с блогов YouTube. Часть 2</a></h2>
          </div><!-- /.subscribe-last__name -->
          <div class="timetoread">
              <span class="timetoread-ico">
                <include src="../../../images/svg/16x16/timetoread.svg"></include>
              </span>
            12 минут на чтение
          </div><!-- /.timetoread -->
        </div><!-- /.subscribe-last__box -->
      </div><!-- /.subscribe-last__item -->

    </div><!-- /.subscribe-last -->

  </div><!-- /.section -->
</div><!-- /.slider -->
