<div class="slider">
  <div class="section">

    <div class="box__header">
      <h2>Популярные выпуски</h2>
    </div><!-- /.box__header -->

    <div class="slider__wrapper">

      <div class="slider-nav slider-nav__left">
        <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/left.svg"></include></a>
      </div><!-- /.slider-nav -->

      <div class="slider-list">

        <div class="slider__item">
          <div class="newsletter-box">
            <div class="newsletter__headline">
              <a href="" class="newsletter-link">
                <div class="newsletter-img">
                  <img src="assets/images/demo/newsletter/demo-newsletter1.png" alt="">
                </div><!-- /.newsletter-img -->
                <div class="newsletter-release">
                  <span class="number">256</span>
                  <span class="text">выпуск</span>
                </div><!-- /.newsletter-release -->
              </a><!-- /a.newsletter-link -->
            </div><!-- /.newsletter__headline -->
            <div class="newsletter__description">
              <h2><a href="">Howto. Как повысить продажи к Новому году</a></h2>
              <div class="timetoread">
              <span class="timetoread-ico">
                <include src="../../../images/svg/16x16/timetoread.svg"></include>
              </span>
                15 минут на чтение
              </div><!-- /.timetoread -->
            </div><!-- /.newsletter__description -->
          </div><!-- /.newsletter-box -->
        </div><!-- /.slider__item -->

        <div class="slider__item">
          <div class="newsletter-box">
            <div class="newsletter__headline">
              <a href="" class="newsletter-link">
                <div class="newsletter-img">
                  <img src="assets/images/demo/newsletter/demo-newsletter2.png" alt="">
                </div><!-- /.newsletter-img -->
                <div class="newsletter-release">
                  <span class="number">255</span>
                  <span class="text">выпуск</span>
                </div><!-- /.newsletter-release -->
              </a><!-- /a.newsletter-link -->
            </div><!-- /.newsletter__headline -->
            <div class="newsletter__description">
              <h2><a href="">Почему каждому бизнесу нужен мобильный сайт</a></h2>
              <div class="timetoread">
              <span class="timetoread-ico">
                <include src="../../../images/svg/16x16/timetoread.svg"></include>
              </span>
                9 минут на чтение
              </div><!-- /.timetoread -->
            </div><!-- /.newsletter__description -->
          </div><!-- /.newsletter-box -->
        </div><!-- /.slider__item -->

        <div class="slider__item">
          <div class="newsletter-box">
            <div class="newsletter__headline">
              <a href="" class="newsletter-link">
                <div class="newsletter-img">
                  <img src="assets/images/demo/newsletter/demo-newsletter3.png" alt="">
                </div><!-- /.newsletter-img -->
                <div class="newsletter-release">
                  <span class="number">254</span>
                  <span class="text">выпуск</span>
                </div><!-- /.newsletter-release -->
              </a><!-- /a.newsletter-link -->
            </div><!-- /.newsletter__headline -->
            <div class="newsletter__description">
              <h2><a href="">Что мешает продвигаться половине сайтов?</a></h2>
              <div class="timetoread">
              <span class="timetoread-ico">
                <include src="../../../images/svg/16x16/timetoread.svg"></include>
              </span>
                11 минут на чтение
              </div><!-- /.timetoread -->
            </div><!-- /.newsletter__description -->
          </div><!-- /.newsletter-box -->
        </div><!-- /.slider__item -->

      </div><!-- /.slider-list -->

      <div class="slider-nav slider-nav__right">
        <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/right.svg"></include></a>
      </div><!-- /.slider-nav -->

    </div><!-- /.slider__wrapper -->

  </div><!-- /.section -->
</div><!-- /.slider -->
