<div class="slider">
  <div class="section">

    <div class="box__header">
      <h2>Ближайшие мероприятия</h2>
      <div class="btn-right">
        <a href="https://www.youtube.com/user/SeoPultRU" class="btn btn-outline-light" target="_blank">Показать все мероприятия</a>
      </div><!-- /.btn-right -->
    </div><!-- /.box__header -->

    <div class="slider__wrapper">

      <div class="slider-nav slider-nav__left">
        <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/left.svg"></include></a>
      </div><!-- /.slider-nav -->

      <div class="slider-list">

        <div class="slider__item">
          <div class="event-box">
            <div class="event__content">
              <div class="event-headline">
                <div class="event-ico">
                  <include src="../../../images/svg/16x16/cam.svg"></include>
                </div>
                <div class="event-date event-date--green">
                  <span class="day-name">Завтра</span>
                  <span class="time">11:00&nbsp;&ndash;&nbsp;13:00</span>
                </div><!-- /.event-date -->
                <div class="event-title">
                  <h2><a href="">Контент-маркетинг: долго, дорого и охуенно</a></h2>
                </div><!-- /.event-title -->
              </div><!-- /.event-headline -->
            </div><!-- /.event__content -->
            <div class="event__footer">
              <div class="event-person">
                <div class="person-photo">
                  <img src="assets/images/demo/demo-lecturer1.png" alt="" width="40" height="40">
                </div>
                <div class="person-who">
                  <div class="person-name">Александра Заречнева</div>
                  <div class="person-post">Руководитель проекта Alfa-content</div>
                </div>
              </div>
              <div class="event__footer--btn">
                <a href="" class="btn btn-outline-orange">Бесплатное участие</a>
              </div>
            </div><!-- /.event__footer -->
          </div><!-- /.event-box -->
        </div><!-- /.slider__item -->

        <div class="slider__item">
          <div class="event-box">
            <div class="event__content">
              <div class="event-headline">
                <div class="event-ico">
                  <include src="../../../images/svg/16x16/cam.svg"></include>
                </div>
                <div class="event-date">
                  <span class="day-name">четверг</span>
                  <span class="day-number">20</span>
                  <span class="month">октября</span>
                  <span class="time">11:00&nbsp;&ndash;&nbsp;13:00</span>
                </div><!-- /.event-date -->
                <div class="event-title">
                  <h2><a href="">Пошаговый анализ и улучшение контекстных кампаний</a></h2>
                </div><!-- /.event-title -->
              </div><!-- /.event-headline -->
            </div><!-- /.event__content -->
            <div class="event__footer">
              <div class="event-person">
                <div class="person-photo two-person">
                  <img src="assets/images/demo/demo-lecturer2.png" alt="" width="40" height="40">
                  <img src="assets/images/demo/demo-lecturer4.png" alt="" width="40" height="40">
                </div>
                <div class="person-who">
                  <div class="person-name">Дмитрий Климчуков</div>
                  <div class="person-name">Руслан Байбеков</div>
                </div>
              </div>
              <div class="event__footer--btn">
                <a href="" class="btn btn-outline-orange">Бесплатное участие</a>
              </div>
            </div><!-- /.event__footer -->
          </div><!-- /.event-box -->
        </div><!-- /.slider__item -->

        <div class="slider__item">
          <div class="event-box">
            <div class="event__content">
              <div class="event-headline">
                <div class="event-ico">
                  <include src="../../../images/svg/16x16/microphone.svg"></include>
                </div>
                <div class="event-date">
                  <span class="day-name">четверг</span>
                  <span class="day-number">29</span>
                  <span class="month">октября</span>
                  <span class="time">11:00&nbsp;&ndash;&nbsp;13:00</span>
                </div><!-- /.event-date -->
                <div class="event-title">
                  <h2><a href="">Как продвинуть свой сайт самостоятельно курс для начинающих бизнесменов</a></h2>
                </div><!-- /.event-title -->
              </div><!-- /.event-headline -->
            </div><!-- /.event__content -->
            <div class="event__footer">
              <div class="event-person">
                <div class="person-photo">
                  <img src="assets/images/demo/demo-lecturer4.png" alt="" width="40" height="40">
                </div>
                <div class="person-who">
                  <div class="person-name">Руслан Байбеков</div>
                  <div class="person-post">Аналитик компании SeoPult.ru</div>
                </div>
              </div>
              <div class="event__footer--btn">
                <a href="" class="btn btn-outline-orange">Бесплатное участие</a>
              </div><!-- /.event__footer--btn -->
            </div><!-- /.event__footer -->
          </div><!-- /.event-box -->
        </div><!-- /.slider__item -->

      </div><!-- /.slider-list -->

      <div class="slider-nav slider-nav__right">
        <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/right.svg"></include></a>
      </div><!-- /.slider-nav -->

    </div><!-- /.slider__wrapper -->

  </div><!-- /.section -->
</div><!-- /.slider -->
