<div class="slider">
  <div class="section">

    <div class="box__header">
      <h2>Популярные видео</h2>
      <div class="btn-right">
        <a href="" class="btn btn-outline-light btn-red"><include src="../../../images/svg/social/youtube.svg"></include>Подписаться в YouTube</a>
      </div><!-- /.btn-right -->
    </div><!-- /.box__header -->

    <div class="slider__wrapper">

      <div class="slider-nav slider-nav__left">
        <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/left.svg"></include></a>
      </div><!-- /.slider-nav -->

      <div class="slider-list">
        <div class="slider__item">
          <a href="#" class="video-link">
            <div class="video-box" style="background-image: url('assets/images/demo/video/video-bg.png');">
              <div class="video__cover">
                <div class="video__time">47:15</div>
                <div class="video__play">
                  <div class="play-icon">
                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="12" viewBox="0 0 10 12">
                      <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAMAAABstdySAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAABRlN33AAAAHXRSTlMA6JYS62UCyjb+mxXuagPEwu1o/ZkUyDTqYuaTERmFBtIAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAARElEQVQI10XNNwKAMAxD0dA7IaGXf/9rssig6Q2y5ZI0cwrkRWmEqv5I03ZG6IfRCP7nZAxRhXlZdbbtenacmrjuR7sv6mUHyWl/x1sAAAAASUVORK5CYII=" width="10" height="12"/></svg></span>
                  </div><!-- /.play-icon -->
                </div><!-- /.video__play -->
              </div><!-- /.video__cover -->
            </div><!-- /.video-box -->
          </a><!-- /a.video-link -->
        </div><!-- /.slider__item -->
        <div class="slider__item">
          <a href="#" class="video-link">
            <div class="video-box" style="background-image: url('assets/images/demo/video/video-bg.png');">
              <div class="video__cover">
                <div class="video__time">47:15</div>
                <div class="video__play">
                  <div class="play-icon">
                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="12" viewBox="0 0 10 12">
                      <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAMAAABstdySAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAABRlN33AAAAHXRSTlMA6JYS62UCyjb+mxXuagPEwu1o/ZkUyDTqYuaTERmFBtIAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAARElEQVQI10XNNwKAMAxD0dA7IaGXf/9rssig6Q2y5ZI0cwrkRWmEqv5I03ZG6IfRCP7nZAxRhXlZdbbtenacmrjuR7sv6mUHyWl/x1sAAAAASUVORK5CYII=" width="10" height="12"/></svg></span>
                  </div><!-- /.play-icon -->
                </div><!-- /.video__play -->
              </div><!-- /.video__cover -->
            </div><!-- /.video-box -->
          </a><!-- /a.video-link -->
        </div><!-- /.slider__item -->
        <div class="slider__item">
          <a href="#" class="video-link">
            <div class="video-box" style="background-image: url('assets/images/demo/video/video-bg.png');">
              <div class="video__cover">
                <div class="video__time">47:15</div>
                <div class="video__play">
                  <div class="play-icon">
                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="12" viewBox="0 0 10 12">
                      <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAMAAABstdySAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAABRlN33AAAAHXRSTlMA6JYS62UCyjb+mxXuagPEwu1o/ZkUyDTqYuaTERmFBtIAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAARElEQVQI10XNNwKAMAxD0dA7IaGXf/9rssig6Q2y5ZI0cwrkRWmEqv5I03ZG6IfRCP7nZAxRhXlZdbbtenacmrjuR7sv6mUHyWl/x1sAAAAASUVORK5CYII=" width="10" height="12"/></svg></span>
                  </div><!-- /.play-icon -->
                </div><!-- /.video__play -->
              </div><!-- /.video__cover -->
            </div><!-- /.video-box -->
          </a><!-- /a.video-link -->
        </div><!-- /.slider__item -->
      </div><!-- /.slider-list -->

      <div class="slider-nav slider-nav__right">
        <a href="" class="slider-nav__link slider-nav__link-left"><include src="../../../images/svg/pagination/right.svg"></include></a>
      </div><!-- /.slider-nav -->

    </div><!-- /.slider__wrapper -->

  </div><!-- /.section -->
</div><!-- /.slider -->
