<footer class="footer">

  <div class="section">
    <div class="box">

      <div class="footer__item">
        <div class="footer__item-box">
          <h3>Инструменты</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="seo.html" class="footer-menu__link">Поисковое продвижение</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Контекстная реклама</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Контент-маркетинг</a></li>
          </ul><!-- /.footer-menu -->
          <h3>Технологии</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">SeoPult +</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">SeoPult Max</a></li>
          </ul><!-- /.footer-menu -->
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box">
          <h3>Обучение</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Бесплатные курсы и семинары</a></li>
            <li class="footer-menu__item"><a href="education.html" class="footer-menu__link">Обучающее видео и вебинары</a></li>
          </ul><!-- /.footer-menu -->
          <h3>Справка</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="instructions.html" class="footer-menu__link">Инструкции</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Вопрос-ответ</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">База терминов</a></li>
          </ul><!-- /.footer-menu -->
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box">
          <ul class="footer-menu footer-menu-big">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">База знаний</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">О системе</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Блог</a></li>
            <li class="footer-menu__item"><a href="news.html" class="footer-menu__link">Новости</a></li>
            <li class="footer-menu__item"><a href="feedback.html" class="footer-menu__link">Обратная связь</a></li>
          </ul><!-- /.footer-menu -->
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item right">
        <div class="social">
          <div class="social__item">
            <a href="https://www.youtube.com/user/SeoPultRU" class="social-link social-link__youtube" target="_blank" title="Откроется в новом окне">
              <span class="social__youtube"><include src="../../../images/svg/social/youtube.svg"></include></span>
            </a><!-- /.social-link -->
          </div><!-- /.social__item -->
          <div class="social__item">
            <a href="https://vk.com/seopultru" class="social-link social-link__vk" target="_blank" title="Откроется в новом окне">
              <span class="social__vk"><include src="../../../images/svg/social/vk.svg"></include></span>
            </a><!-- /.social-link -->
          </div><!-- /.social__item -->
          <div class="social__item">
            <a href="https://www.facebook.com/seopult" class="social-link social-link__facebook" target="_blank" title="Откроется в новом окне">
              <span class="social__facebook"><include src="../../../images/svg/social/fb.svg"></include></span>
            </a><!-- /.social-link -->
          </div><!-- /.social__item -->
          <div class="social__item">
            <a href="https://twitter.com/SeoPultRU" class="social-link social-link__twitter" target="_blank" title="Откроется в новом окне">
              <span class="social__twitter"><include src="../../../images/svg/social/twitter.svg"></include></span>
            </a><!-- /.social-link -->
          </div><!-- /.social__item -->
        </div><!-- /.social -->
      </div><!-- /.footer__item -->

    </div><!-- /.box -->
  </div><!-- /.section -->

  <div class="copyright">
    <div class="section">
      <div class="copyright-box">
        <div class="">&copy;&nbsp;SeoPult.ru, 2007–2016</div>
        <div class="">При перепечатке материала активная ссылка на сайт&nbsp;seopult.ru обязательна.</div>
      </div><!-- /.copyright-box -->
    </div><!-- /.section -->
  </div><!-- /.copyright -->

</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
<!-- <script src="assets/scripts/vendor.js"></script> -->
