<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap,
        myPlacemark;
    function init(){
        myMap = new ymaps.Map ("map", {
            center: [55.849687, 37.454994],
            zoom: 15,
            controls: []
        });
        var myPlacemark = new ymaps.Placemark([55.849687, 37.454994], {
            hintContent: 'Офис компании «SeoPult» в Москве на улице Сводобы, дом №50, строение №2',
            balloonContentBody: '<div class="balloon-map__body">Офис компании «SeoPult»</div>',
            balloonContentFooter: '<div class="balloon-map__footer">Москва, уллица Свободы, <abbr title="Блок коттеджей горчичного цвета, рядом для ориентира — ресторан «Тануки»">дом №50</abbr>, строение №2</div>',
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'assets/images/svg/map/icon-location.svg',
            iconImageSize: [39, 43]
        });
        myMap.geoObjects.add(myPlacemark);
        myMap.controls.add('zoomControl');
        myMap.controls.remove('typeSelector');
    }
</script>
