<div class="fishki">
  <div class="section">
    <div class="fishki-list">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/wallet.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Бесплатное обучение</h3>
          <p>Занятия в&nbsp;обучающем центре полностью бесплатны, а&nbsp;также мы&nbsp;не&nbsp;рекламируем продукты и&nbsp;сервисы. Спешите получить бесценный опыт и&nbsp;применять его на&nbsp;практике.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/award.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Опытные преподаватели</h3>
          <p>Занятия ведут известные эксперты и&nbsp;действующие практики на&nbsp;рынке. Вся информация максимально понятна, как для владельца бизнеса, так и&nbsp;для профессиональных маркетологов.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/calendar.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Интенсивные курсы</h3>
          <p>Для желающих систематически обучаться в&nbsp;небольших группах и&nbsp;получать максимально практическую информацию на&nbsp;примере своего сайта мы&nbsp;открыли интенсивные курсы.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/university.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Комфортные условия обучения</h3>
          <p>Офлайн занятия проходят в&nbsp;Москве, в&nbsp;удобных аудиториях института &laquo;МИРБИС&raquo; (метро
            <abbr title="Таганская — станция Кольцевой линии Московского метрополитена" style="border-color: #9b553d;">Таганская</abbr>). При желании вы&nbsp;можете обучаться из&nbsp;дома&nbsp;&mdash; добро пожаловать на&nbsp;наши вебинары.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

    </div><!-- /.fishki-list -->
  </div><!-- /.section -->
</div><!-- /.salut -->
