<div class="fishki box-light">
  <div class="section">
    <div class="fishki__header">
      <h2>Дополнительные услуги и технологии</h2>
    </div>

    <div class="fishki-list">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/text.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Наполнение и оптимизация сайта</h3>
          <p>Чтобы позиции сайта росли, нужно оптимизировать страницы сайта, размещая тексты с&nbsp;необходимыми ключевым словам. Система SeoPult позволяет заказать&nbsp;и, при желании, автоматически заверстать на&nbsp;сайт качественные тексты.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->


      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/traf.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Трафиковое продвижение</h3>
          <p>Технология покупки конверсионного трафика, оказывающего влияние на&nbsp;позиции сайта в&nbsp;поисковых системах. Для получения трафика потенциальная аудитория размечается по&nbsp;интересам, а&nbsp;после сегментации Система начинает привлекать подобный трафик в&nbsp;RTB сетях.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

    </div>
  </div><!-- /.section -->
</div><!-- /.salut -->
