<div class="fishki">
  <div class="section">
    <div class="fishki-list">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/microchip.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Для владельцев бизнеса</h3>
          <ul class="check">
            <li>Анализ стратегии продвижения конкурентов</li>
            <li>Автоматизация подбора целевых ключевых слов</li>
            <li>Рекомендации по оптимизации продвигаемых страниц</li>
            <li>Автоматизация работ с внешними факторами</li>
          </ul>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/controls.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
        <h3>Для SEO-специалистов</h3>
          <ul class="check">
            <li>Профессиональный набор аналитических инструментов</li>
            <li>Несколько видов автоматических подборщиков слов</li>
            <li>Автоматизация разработки <abbr title="Техническое задание">ТЗ</abbr> на SEO-копирайтинг</li>
            <li>Профессиональные режимы закупки ссылок</li>
          </ul>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/analytics.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Технологии по работе с внешними факторами</h3>
          <div class="technology-list">
            <div class="technology__item">
              <div class="technology-info">
                <h4><a href="#">SeoPult&nbsp;+</a></h4>
                <p class="technology-description">Предварительное тестирование <br>и проверка всех доноров</p>
              </div>
              <div class="technology-achievement">
                <div class="achievement-count">+&nbsp;20%</div>
                <div class="achievement-info">к&nbsp;эффективности</div>
              </div>
            </div><!-- /.technology__item -->
            <div class="technology__item">
              <div class="technology-info">
                <h4><a href="#">SeoPult&nbsp;Max</a></h4>
                <p class="technology-description">Алгоритм отбора наиборее эффективных <br> ссылок для вашего сайта</p>
              </div>
              <div class="technology-achievement">
                <div class="achievement-count">+&nbsp;20%</div>
                <div class="achievement-info">к&nbsp;эффективности</div>
              </div>
            </div><!-- /.technology__item -->
            <div class="technology__item">
              <div class="technology-info">
                <h4><a href="#">Естественные ссылки</a></h4>
                <p class="technology-description">Автоматизация процессов набора <br>естественной ссылочной массы</p>
              </div>
              <div class="technology-achievement">
                <div class="achievement-count">+&nbsp;50%</div>
                <div class="achievement-info">к&nbsp;эффективности</div>
              </div>
            </div><!-- /.technology__item -->
          </div><!-- /.technology-list -->
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/analytics.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Интелектуальное обучение системы</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

    </div>
  </div><!-- /.section -->
</div><!-- /.salut -->
