<div class="fishki box-light box-bb">
  <div class="section">
    <div class="fishki-list">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/target.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
        <h3>Синерги&#x301;я С контекстной рекламой</h3>
          <ul class="check">
            <li>Быстрый запуск контекстной рекламы по SEO-словам</li>
            <li>Отключение показов контекстной рекламы для слов в ТОПе</li>
            <li>Общая сквозная аналитика по приводимому трафику</li>
          </ul>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/megaphone.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
        <h3>Синерги&#x301;я с контент-маркетингом</h3>
          <ul class="check">
            <li>Получение ссылок с ТОПовых площадок рунета</li>
            <li>Увеличение поведенческих характеристик сайта</li>
            <li>Увеличения числа брендовых запросов в поиске</li>
          </ul>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->


    </div>
  </div><!-- /.section -->
</div><!-- /.salut -->
