<div class="fishki">
  <div class="section">
    <div class="fishki__header">
      <h2>В каких случаях вам поможет персональный менеджер</h2>
    </div>

    <div class="fishki-list">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/microchip.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>У вас недостаточно знаний и навыков</h3>
          <p>Интернет-реклама подразумевает массу сложных и&nbsp;технологических процессов. Мы&nbsp;участвуем в&nbsp;бесплатном образовании наших клиентов, но&nbsp;если вы&nbsp;нуждаетесь в&nbsp;помощи, персональный менеджер всегда готов помочь.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->


      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/microchip.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Нет времени заниматься продвижением</h3>
          <p>Бизнес требует от&nbsp;владельцев массы усилий и&nbsp;времени. Несмотря на&nbsp;то, что работа в&nbsp;SeoPult не&nbsp;занимает большого количества времени, мы&nbsp;можем помочь вам инвестировать свое время в&nbsp;развитие бизнеса, а&nbsp;рекламу доверить нам.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/microchip.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Высокая стоимость услуги агенств</h3>
          <p>Небольшие агентства забирают до&nbsp;100% рекламного бюджета на&nbsp;продвижение за&nbsp;счет массы вовлеченных людей и&nbsp;слабо оптимизированных процессов. Стоимость ведения проекта у&nbsp;нас всего 3000 рублей в&nbsp;месяц. Мы&nbsp;автоматизируем процессы и&nbsp;поддерживаем самую дешевую цену на&nbsp;рынке.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/microchip.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Нет уверености в удалённых сотрудниках</h3>
          <p>Отсутствие свободного времени и&nbsp;необходимой компетенции может обернуться потраченным временем и&nbsp;деньгами для вашего бизнеса. Доверяйте ваши задачи по&nbsp;продвижению профессионалам, SeoPult существует на&nbsp;рынке с&nbsp;2008&nbsp;года, в&nbsp;нашей системе продвигается каждый 7-й коммерческий сайт.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

    </div>
  </div><!-- /.section -->
</div><!-- /.salut -->
