<div class="fishki box-light">
  <div class="section">

    <div class="fishki-list fishki-list-3">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/time.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Экономия времени</h3>
          <p>Автоматизация сложных и рутиных процесов, а так же рекомендации системы, дадут возможность запустить вашу рекламную кампанию за считанные минуты. </p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->


      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/traf.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Экономия средств</h3>
          <p>Исключение ручного труда и посредников: экспертиза лидера рынка позволит вам сэкономить с SeoPult до 50% стоимости привлечения клиентов.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/people.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Экономия Ресурсов</h3>
          <p>Больше нет необходимости держать в штате специалиста или обращаться в профессиональное агентство. А в сложных ситуациях вам всегда поможет <br><a href="">Персональный менеджер</a></p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

    </div>
  </div><!-- /.section -->
</div><!-- /.salut -->
