<div class="fishki box-light">
  <div class="section">

    <div class="fishki-list">

      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/text.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Для владельцев сайтов</h3>
          <h4>Автоматический режим </h4>
          <p>В автоматическом режиме нужно просто указать адрес продвигаемого сайта и скорректировать список нужных ключевых запросов. Все дальнейшие действия SeoPult производит самостоятельно — от пользователя не требуется никаких специальных знаний в области поисковой оптимизации.</p>
          <p>В автоматическом режиме Система SeoPult использует наиболее оптимальные алгоритмы, которые разрабатываются на основе анализа результатов успешных рекламных кампаний</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->


      <div class="fishki__item">
        <div class="fishki-ico">
          <include src="../../../images/svg/40x40/traf.svg"></include>
        </div><!-- /.fishki-ico -->
        <div class="fishki-content">
          <h3>Для профессионалов</h3>
          <h4>Ручной режим</h4>
          <p>В ручном режиме пользователь имеет возможность управлять ключевыми параметрами кампании по продвижению. К примеру, можно легко переопределить целевые страницы для продвижения по ключевым словам, изменить бюджет по каждому поисковому запросу, а также исправить автоматически сгенерированные тексты ссылок.</p>
          <p>Кроме того, возможна настройка ручных фильтров для простановки (достановки) и съема ссылок на основе задаваемых пользователем параметров.</p>
        </div><!-- /.fishki-content -->
      </div><!-- /.fishki__item -->

    </div>
  </div><!-- /.section -->
</div><!-- /.salut -->
