<div class="cheti">
  <div class="section">


<div class="box">

    <div class="col-half">

    <div class="cheti-wrap">
      <h3>Подписчиков</h3>
      <div class="cheti-box">
        <div class="cheti__item">
          <span class="cheti-n">8</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item devider">
          <span class="cheti-n">7</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item">
          <span class="cheti-n">3</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item">
          <span class="cheti-n">6</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item">
          <span class="cheti-n">9</span>
        </div><!-- /.cheti__item -->
      </div><!-- /.cheti-box -->
    </div><!-- /.cheti-wrap -->

    <div class="cheti-wrap">
      <h3>Видео</h3>
      <div class="cheti-box">
        <div class="cheti__item devider">
          <span class="cheti-n">1</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item">
          <span class="cheti-n">1</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item">
          <span class="cheti-n">4</span>
        </div><!-- /.cheti__item -->
        <div class="cheti__item">
          <span class="cheti-n">4</span>
        </div><!-- /.cheti__item -->
      </div><!-- /.cheti-box -->
    </div><!-- /.cheti-wrap -->

</div>

<div class="col-half">

  <div class="cheti-wrap">
    <h3>Спикеров</h3>
    <div class="cheti-box">
      <div class="cheti__item">
        <span class="cheti-n">9</span>
      </div><!-- /.cheti__item -->
      <div class="cheti__item devider">
        <span class="cheti-n">7</span>
      </div><!-- /.cheti__item -->
      <div class="cheti__item">
        <span class="cheti-n">7</span>
      </div><!-- /.cheti__item -->
      <div class="cheti__item">
        <span class="cheti-n">4</span>
      </div><!-- /.cheti__item -->
      <div class="cheti__item">
        <span class="cheti-n">5</span>
      </div><!-- /.cheti__item -->
    </div><!-- /.cheti-box -->
  </div><!-- /.cheti-wrap -->

  <div class="cheti-wrap">
    <h3>Просмотров</h3>
    <div class="cheti-box">
      <div class="cheti__item">
        <span class="cheti-n">2</span>
      </div><!-- /.cheti__item -->
      <div class="cheti__item">
        <span class="cheti-n">3</span>
      </div><!-- /.cheti__item -->
      <div class="cheti__item">
        <span class="cheti-n">4</span>
      </div><!-- /.cheti__item -->
    </div><!-- /.cheti-box -->
  </div><!-- /.cheti-wrap -->

</div>

</div>

  </div><!-- /.section -->
</div><!-- /.cheti -->
