<div class="terms">
    <div class="section">

        <form action="" class="terms-form">
            <div class="form-group">
                <div class="icon"><span class="search-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="16.031" height="16" viewBox="0 0 16.031 16">
  <defs>
    <style>
      .cls-1 {
          fill: #d7dbdf;
          fill-rule: evenodd;
      }
    </style>
  </defs>
  <path d="M15.704,15.703 C15.298,16.109 14.640,16.109 14.235,15.703 L11.998,13.467 C10.742,14.416 9.195,14.999 7.500,14.999 C3.358,14.999 -0.000,11.641 -0.000,7.498 C-0.000,3.357 3.358,-0.001 7.500,-0.001 C11.642,-0.001 15.000,3.357 15.000,7.498 C15.000,9.194 14.416,10.740 13.467,11.997 L15.704,14.234 C16.109,14.639 16.109,15.297 15.704,15.703 ZM7.500,1.998 C4.462,1.998 2.000,4.461 2.000,7.498 C2.000,10.537 4.462,12.999 7.500,12.999 C8.867,12.999 10.102,12.482 11.064,11.656 C11.115,11.524 11.190,11.400 11.296,11.295 C11.402,11.189 11.526,11.114 11.657,11.063 C12.482,10.101 13.000,8.867 13.000,7.498 C13.000,4.461 10.537,1.998 7.500,1.998 Z" class="cls-1"/>
</svg>
</span></div>
                <input type="text" class="form-control" placeholder="Поиск по терминам и определениям..." name="" @@autofocus>
            </div>
        </form>
        <div class="terms__letters">
            <div class="letters-list">
                <ul class="letters">
                    <li class="letters__item"><a href="" class="letters__link">A</a></li>
                    <li class="letters__item"><a href="" class="letters__link">B</a></li>
                    <li class="letters__item"><a href="" class="letters__link">C</a></li>
                    <li class="letters__item"><a href="" class="letters__link">D</a></li>
                    <li class="letters__item"><a href="" class="letters__link">E</a></li>
                    <li class="letters__item"><a href="" class="letters__link">F</a></li>
                    <li class="letters__item"><a href="" class="letters__link">G</a></li>
                    <li class="letters__item"><a href="" class="letters__link">H</a></li>
                    <li class="letters__item"><a href="" class="letters__link">I</a></li>
                    <li class="letters__item"><a href="" class="letters__link">J</a></li>
                    <li class="letters__item"><a href="" class="letters__link">K</a></li>
                    <li class="letters__item"><a href="" class="letters__link">L</a></li>
                    <li class="letters__item"><a href="" class="letters__link">M</a></li>
                    <li class="letters__item"><a href="" class="letters__link">N</a></li>
                    <li class="letters__item"><a href="" class="letters__link">O</a></li>
                    <li class="letters__item"><a href="" class="letters__link">P</a></li>
                    <li class="letters__item"><a href="" class="letters__link">R</a></li>
                    <li class="letters__item"><a href="" class="letters__link">S</a></li>
                    <li class="letters__item"><a href="" class="letters__link">T</a></li>
                    <li class="letters__item"><a href="" class="letters__link">U</a></li>
                    <li class="letters__item"><a href="" class="letters__link">W</a></li>
                    <li class="letters__item"><a href="" class="letters__link">X</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Y</a></li>
                    <li class="letters__item devider"></li>
                    <li class="letters__item"><a href="" class="letters__link">А</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Б</a></li>
                    <li class="letters__item"><a href="" class="letters__link">В</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Г</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Д</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Е</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Ж</a></li>
                    <li class="letters__item"><a href="" class="letters__link">З</a></li>
                    <li class="letters__item"><a href="" class="letters__link">И</a></li>
                    <li class="letters__item"><a href="" class="letters__link">К</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Л</a></li>
                    <li class="letters__item"><a href="" class="letters__link">М</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Н</a></li>
                    <li class="letters__item"><a href="" class="letters__link">О</a></li>
                    <li class="letters__item"><a href="" class="letters__link">П</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Р</a></li>
                    <li class="letters__item"><a href="" class="letters__link">С</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Т</a></li>
                    <li class="letters__item"><a href="" class="letters__link">У</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Ф</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Х</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Ц</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Ч</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Ш</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Э</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Ю</a></li>
                    <li class="letters__item"><a href="" class="letters__link">Я</a></li>
                    <li class="letters__item devider"></li>
                    <li class="letters__item"><a href="" class="letters__link">4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

