<div class="headline">
  <div class="section">
    <h1 class="head">Обучение интернет-маркетингу для наших клиентов</h1>
    <p>Понимание основ интернет маркетинга многократно увеличивает отдачу от&nbsp;рекламных кампаний и&nbsp;экономит ваш бюджет.<br>Мы&nbsp;организовали для вас бесплатное обучение: офлайн курсы и&nbsp;вебинары в&nbsp;обучающем центре, видеоуроки, а&nbsp;также информационную рассылку.</p>
  </div><!-- /.section -->

  <div class="headline-menu menu-spy _headline-menu">
    <div class="section">
      <ul class="nav _spy-nav">
        <li class="nav__item">
          <a href="#a1">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/education.svg"></include></div>
              <div class="text">Офлайн курсы и вебинары</div>
            </div>
          </a>
        </li>
        <li class="nav__item">
          <a href="#a2">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/video.svg"></include></div>
              <div class="text">Обучающие видео</div>
            </div>
          </a>
        </li>
        <li class="nav__item">
          <a href="#a3">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/books.svg"></include></div>
              <div class="text">Информационная рассылка</div>
            </div>
          </a>
        </li>
      </ul><!-- /.nav -->
    </div><!-- /.section -->
  </div><!-- /.headline-menu -->

</div><!-- /.headline -->
