<div class="headline headline-pb">
  <div class="section">
    <div class="breadcrumbs-box">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="./" class="breadcrumbs__link"><span class="breadcrumbs-home"><include src="../../../images/svg/16x16/home-icon.svg"></include></span></a>
        <li class="breadcrumbs__item devider">/</li>
        <li class="breadcrumbs__item"><a href="help.html" class="breadcrumbs__link">Возможности</a></li>
        </li>
      </ul>
    </div><!-- /.breadcrumbs-box -->
    <h1 class="head">@@h1</h1>
  </div><!-- /.section -->
</div><!-- /.headline -->
