<div class="headline">
  <div class="section">
    <h1 class="head">@@h1</h1>
  </div><!-- /.section -->

  <div class="headline-menu">
    <div class="section">
      <div class="nav">
        <li class="nav__item @@seo">
          <a href="seo.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/loupe.svg"></include></div>
              <div class="text">Поисковое продвижение</div>
            </div>
          </a>
        </li>
        <li class="nav__item @@ppc">
          <a href="ppc.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/target.svg"></include></div>
              <div class="text">Контекстная реклама</div>
            </div>
          </a>
        </li>
        <li class="nav__item @@contentmarketing">
          <a href="content-marketing.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/megaphone.svg"></include></div>
              <div class="text">Контент-маркетинг</div>
            </div>
          </a>
        </li>
        <li class="nav__item @@serm">
          <a href="serm.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/rep.svg"></include></div>
              <div class="text">Управление репутацией</div>
            </div>
          </a>
        </li>
      </div><!-- /.nav -->
    </div><!-- /.section -->
  </div><!-- /.headline-menu -->

</div><!-- /.headline -->
