<div class="headline-video" style="background-image: url('assets/images/demo/demo-video-cover.png');">
  <div class="section">
    <div class="headline__video">
      <div class="headline__footer">
        <div class="video__plays">
          <div class="play-icona">
          <span>
          </span>
          </div><!-- /.play-icon -->
        </div><!-- /.video__play -->
        <div class="headline-timeline">Длительность 12:54</div><!-- /.headline-timeline -->
        <h3>«Автоматизация ручных процессов для эффективности поискового продвижения»</h3>
        <p>Алексей Штарёв, исполнительный директор SeoPult</p>
      </div><!-- /.headline__footer -->
    </div><!-- /.headline__video -->
  </div><!-- /.section -->
</div><!-- /.headline -->
