<div class="headline">
  <div class="section">
    <div class="breadcrumbs-box">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="./" class="breadcrumbs__link"><span class="breadcrumbs-home"><include src="../../../images/svg/16x16/home-icon.svg"></include></span></a>
        <li class="breadcrumbs__item devider">/</li>
        <li class="breadcrumbs__item"><a href="help.html" class="breadcrumbs__link">Справка</a></li>
        </li>
      </ul>
    </div><!-- /.breadcrumbs-box -->
    <h1 class="head">@@h1</h1>
  </div><!-- /.section -->

  <div class="headline-menu">
    <div class="section">
      <div class="nav">
        <li class="nav__item @@instructions">
          <a href="instructions.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/education.svg"></include></div>
              <div class="text">Инструкции</div>
            </div>
          </a>
        </li>
        <li class="nav__item @@faq">
          <a href="faq.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/question.svg"></include></div>
              <div class="text">Вопрос-ответ</div>
            </div>
          </a>
        </li>
        <li class="nav__item @@dictionary">
          <a href="dictionary.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/dictionary.svg"></include></div>
              <div class="text">Словарь терминов</div>
            </div>
          </a>
        </li>
      </div><!-- /.nav -->
    </div><!-- /.section -->
  </div><!-- /.headline-menu -->
</div><!-- /.headline -->
