<div class="headline">
  <div class="section">
    <h1 class="head">@@h1</h1>
    <p>Несмотря на&nbsp;то, что Система интуитивно понятна, мы&nbsp;подготовили для вас подробные инструкции, ответы на&nbsp;часто-задаваемые вопросы,<br>
      и&nbsp;подробный словарь терминов интернет маркетинга. Не&nbsp;сможете разобраться самостоятельно&nbsp;&mdash; напишите нам, мы&nbsp;вам поможем!</p>
  </div><!-- /.section -->

  <div class="headline-menu">
    <div class="section">
      <div class="nav">
        <li class="nav__item">
          <a href="instructions.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/education.svg"></include></div>
              <div class="text">Инструкции</div>
            </div>
          </a>
        </li>
        <li class="nav__item @@faq">
          <a href="faq.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/question.svg"></include></div>
              <div class="text">Вопрос-ответ</div>
            </div>
          </a>
        </li>
        <li class="nav__item">
          <a href="dictionary.html">
            <div class="point">
              <div class="ico"><include src="../../../images/svg/40x40/dictionary.svg"></include></div>
              <div class="text">Словарь терминов</div>
            </div>
          </a>
        </li>
      </div><!-- /.nav -->
    </div><!-- /.section -->
  </div><!-- /.headline-menu -->
</div><!-- /.headline -->
