<div class="tags-box">
    <div class="section">

        <div class="box__header">
            <h2>Другие Тематики рассылки</h2>
            <div class="btn-right">
                <a href="" class="expand-link" target="_blank">Развернуть все
                    <span class="expand-link__ico"><include src="../../../images/svg/pagination/left.svg"></include></span>
                </a>
            </div><!-- /.btn-right -->
        </div><!-- /.box__header -->

        <div class="tags-box__list">
            <div class="tags-box__item"><a href="" class="tag-link">Все 272</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">SEO 60</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Контекстная реклама 62</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Контент-маркетинг 60</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Трафиковое продвижение 57</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">SeoPult 55</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Управление репутацией 52</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Google 50</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Аналитика 47</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Яндекс 44</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Мобильный сайт 42</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">YouTube 38</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Продажи 36</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Сайт 36</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Конверсия 34</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Landing page 30</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Интернет-магазин 25</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Контент 22</a></div>
            <div class="tags-box__item"><a href="" class="tag-link">Внутренняя оптимизация 22</a></div>
            <div class="tags-box__item"><a href="" class="tag-link tag-link--all"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="4" viewBox="0 0 20 4">
  <defs>
    <style>
      .tags-dots {
          fill: #d7dbdf;
          fill-rule: evenodd;
      }
    </style>
  </defs>
  <path d="M18.000,4.000 C16.895,4.000 16.000,3.104 16.000,2.000 C16.000,0.895 16.895,-0.000 18.000,-0.000 C19.105,-0.000 20.000,0.895 20.000,2.000 C20.000,3.104 19.105,4.000 18.000,4.000 ZM10.000,4.000 C8.895,4.000 8.000,3.104 8.000,2.000 C8.000,0.895 8.895,-0.000 10.000,-0.000 C11.105,-0.000 12.000,0.895 12.000,2.000 C12.000,3.104 11.105,4.000 10.000,4.000 ZM2.000,4.000 C0.895,4.000 -0.000,3.104 -0.000,2.000 C-0.000,0.895 0.895,-0.000 2.000,-0.000 C3.104,-0.000 4.000,0.895 4.000,2.000 C4.000,3.104 3.104,4.000 2.000,4.000 Z" class="tags-dots"/>
</svg>
</span></a></div>
        </div>
    </div>
</div>
