<div class="app-manager">
    <div class="section">
        <div class="app-manager-list">
            <div class="manager-col">

                <div class="manager">
                    <div class="manager__photo">
                        <img src="assets/images/app-manager/ruslan.png" width="208" height="296" alt="Руслан Байбеков, Руководитель поддержки">
                    </div><!-- /.manager__photo -->
                    <h3>Персональный менеджер</h3>
                    <p>Это опытный специалист SeoPult, знающий возможности системы и обладает навыками для эффективного ведения вашей рекламной кампании</p>
                    <div class="manager-info">
                        <div class="person">
                            <span class="person-who">Руслан Байбеков</span>
                            <span class="person-post">Руководитель поддержки</span>
                        </div>
                        <div class="manager__btn">
                            <a href="youmanager.html" class="btn btn-orange">Подробнее</a>
                        </div><!-- /.manager-btn -->
                    </div>
                </div><!-- /.manager-box -->

            </div><!-- /.manager-col -->
            <div class="apps-col">

                <div class="apps">
                    <div class="apps__screen">
                        <div class="iphone-outline">
                            <img src="assets/images/app-manager/seopult-app-screen.png" class="apps__screen-demoimg" alt="">
                        </div>
                    </div><!-- /.app__screen -->
                    <div class="apps__content">
                        <h3>Мобильное приложение</h3>
                        <p>Вы сможете оперативно отслеживать динамику продвижения, корректировать настройки кампаний, пополнять баланс и получать важные уведомления cистемы.</p>
                        <div class="apps__download">
                            <a href="https://play.google.com/store/apps/details?id=ru.seopult.app" class="apps__download-link google-play" target="_blank" title="Установить приложение SeoPult для Android-устройств">Google Play</a>
                            <a href="https://itunes.apple.com/us/app/seopult/id1017714335" class="apps__download-link appstore" target="_blank" title="Установить приложение SeoPult для iOS-устройств">AppStore</a>
                        </div><!-- /.apps__download -->
                    </div><!-- /.app__content -->
                </div><!-- /.app-box -->

            </div><!-- /.apps-col -->
        </div><!-- /.box -->
    </div><!-- /.section -->
</div><!-- /.app -->
