<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Поисковое продвижение с SeoPult" description="Поисковое продвижение с SeoPult"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline2-clear.html" h1="Технология управления репутацией" serm="active"></include>
    <include src="blocks/_salut/_salut5.html"></include>
    <include src="blocks/_fishki/_fishki4.html"></include>
    <include src="blocks/_salut/_salut6.html"></include>
    <include src="blocks/_fishki/_fishki5.html"></include>
    <include src="blocks/_slider/_slider-full.html"></include>
    <include src="blocks/_faq/_faq.html"></include>
    <include src="blocks/_slider/_slider2.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
