<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="UI и иконки" description="UI и иконки"></include>
  <body class="ui">

  <div class="demo-menu-box">
    <h3>Что есть что</h3>
    <ul class="demo-menu">
      <li class="demo-menu__item"><a href="#ui1">Блок «Приложения и менеджер»</a></li>
      <li class="demo-menu__item"><a href="#ui2">Блок карточек</a></li>
      <li class="demo-menu__item"><a href="#ui3">Блок «Счёты»</a></li>
      <li class="demo-menu__item"><a href="#ui4">Блок «FAQ»</a></li>
      <li class="demo-menu__item"><a href="#ui5">Блок Обратной связи</a></li>
      <li class="demo-menu__item"><a href="#ui6">Подвал с этажом копирайта</a></li>
      <li class="demo-menu__item"><a href="#ui7">Расширенный блок заголовка</a></li>
      <li class="demo-menu__item"><a href="#ui8">Блок последних новостей</a></li>
      <li class="demo-menu__item"><a href="#ui9">Блок «Салют»</a></li>
      <li class="demo-menu__item"><a href="#ui10">Блок для слайдеров</a></li>
      <li class="demo-menu__item"><a href="#ui11">Блок «Фишки»</a></li>
      <li class="demo-menu__item"><a href="#ui12">Блок поиска по терминам</a></li>
    </ul>
  </div>

    <div class="demos-page">
      <div class="demos-section">

        <div class="example" id="ui1">
          <div class="example-title">Блок «Приложения и менеджер»</div>
          <div class="demo">
            <include src="blocks/_app/_app.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui2">
          <div class="example-title">Блок карточек для раздела «Справка»</div>
          <div class="demo">
            <include src="blocks/_card/_card.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui3">
          <div class="example-title">Блок «Счёты»</div>
          <div class="demo">
            <include src="blocks/_cheti/_cheti.html"></include>
          </div><!-- /.demo -->
          <div class="demo">
            <include src="blocks/_cheti/_cheti2.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
            В качестве разделителя используется тег с классом <code>.devider</code>
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui4">
          <div class="example-title">Блок «FAQ»</div>
          <div class="demo">
            <include src="blocks/_faq/_faq.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui5">
          <div class="example-title">Блок Обратной связи: форма + список почт</div>
          <div class="demo">
            <include src="blocks/_feedback/_feedback.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui6">
          <div class="example-title">Подвал с этажом копирайта</div>
          <div class="demo">
            <include src="blocks/_footer/_footer.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui7">
          <div class="example-title">Расширенный блок заголовка с описанием и меню второго уровня</div>
          <div class="demo">
            <include src="blocks/_headline/_headline2.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui8">
          <div class="example-title">Блок последних новостей</div>
          <div class="demo">
            <include src="blocks/_news/_news.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui9">
          <div class="example-title">Блок «Салют»</div>
          <div class="demo">
            <include src="blocks/_salut/_salut.html"></include>
          </div><!-- /.demo -->
          <div class="demo">
            <include src="blocks/_salut/_salut5.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui10">
          <div class="example-title">Блок для слайдеров</div>
          <div class="demo">
            <include src="blocks/_slider/_slider.html"></include>
          </div><!-- /.demo -->
          <div class="demo">
            <include src="blocks/_slider/_slider2.html"></include>
          </div><!-- /.demo -->
          <div class="demo">
            <include src="blocks/_slider/_slider3.html"></include>
          </div><!-- /.demo -->
          <div class="demo">
            <include src="blocks/_slider/_slider-full.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui11">
          <div class="example-title">Блок «Фишки»</div>
          <div class="demo">
            <include src="blocks/_fishki/_fishki.html"></include>
          </div><!-- /.demo -->
          <div class="demo">
            <include src="blocks/_fishki/_fishki2.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
            Блок «Фишки» представляет собой двухколоночный список. В каждом отдельном элементе «фишек» может быть заголовок, иконка/иконки, после заголовка может располагаться любой другой блок с произвольным содержимым, абзац текста иили маркированный/нумерованный список.
          </div><!-- /.example-description -->
        </div><!-- /.example -->

        <div class="example" id="ui12">
          <div class="example-title">Блок поиска по терминам</div>
          <div class="demo">
            <include src="blocks/_terms/_terms.html"></include>
          </div><!-- /.demo -->
          <div class="example-description">
          </div><!-- /.example-description -->
        </div><!-- /.example -->

      </div><!-- /.demos-section -->

    </div><!-- /.demos-page -->

  </body>
</html>
