<div class="news">
  <div class="section">

    <div class="news__header">
      <h2>Новости системы SeoPult</h2>
      <a href="news.html" class="btn btn-outline-dark">Все новости</a>
    </div><!-- /.news__header -->

    <div class="news-list">

      <div class="news__item">
        <div class="news-date">
          <span class="news-date__day">10</span>
          <span class="news-date__month">октября</span>
        </div><!-- /.news-date -->
        <div class="news-head">
          <div class="label-new">new</div><h2><a href="news-single.html">CyberMarketing-2016</a></h2>
        </div><!-- /.news-head -->
        <div class="news-content">
          <p>12 октября в онлайн-формате пройдет ежегодная конференция CyberMarketing - 2016, посвященная вопросам контекстной рекламы.</p>
        </div><!-- /.news-content -->
      </div><!-- /.news__item -->

      <div class="news__item">
        <div class="news-date">
          <span class="news-date__day">21</span>
          <span class="news-date__month">сентября</span>
        </div><!-- /.news-date -->
        <div class="news-head">
          <h2><a href="news-single.html">На SeoPult завелись SeoМонстры</a></h2>
        </div><!-- /.news-head -->
        <div class="news-content">
          <p>Мы предлагаем вам немного расслабиться и поиграть в увлекательную игру с ценными призами. На страницах SeoPult и сайтах партнеров завелись SeoМонстры.</p>
        </div><!-- /.news-content -->
      </div><!-- /.news__item -->

      <div class="news__item">
        <div class="news-date">
          <span class="news-date__day">6</span
          <span class="news-date__month">сентября</span>
        </div><!-- /.news-date -->
        <div class="news-head">
          <h2><a href="news-single.html">Виджеты как средство для роста позиций</a></h2>
        </div><!-- /.news-head -->
        <div class="news-content">
          <p>SeoPult представляет продукт GetSale.io, с помощью которого вы можете легко улучшить поведенческие факторы своего сайта и, как следствие, поднять позиции в Яндексе.</p>
        </div><!-- /.news-content -->
      </div><!-- /.news__item -->

    </div><!-- /.news-list -->

  </div><!-- /.section -->
</div><!-- /.news -->
