<div class="salut">
  <div class="section">
    <div class="salut-box">
      <div class="a">
        <h2>Что такое SeoPult</h2>
        <p class="lead">Система SeoPult&nbsp;&mdash; программный комплекс, позволяющий автоматизировать все этапы работы по&nbsp;ведению рекламной кампании в&nbsp;интернете</p>
        <p>Технологически Система представляет собой комплекс модулей, каждый из&nbsp;которых обеспечивает автоматизацию определенного этапа работы: от&nbsp;подбора запросов до&nbsp;формирования отчетности.</p>
        <p>SeoPult&nbsp;&mdash; это наиболее востребованные инструменты для привлечения клиентов, увеличения конверсий и&nbsp;улучшения привлекательности сайта.</p>
      </div>
      <div class="b">
        <div class="img-box center">
          <img src="assets/images/home-salut.png" alt="">
        </div>
      </div>
    </div><!-- /.salut-box -->
  </div><!-- /.section -->
</div><!-- /.salut -->
