<div class="salut" id="a1">
  <div class="section">
    <div class="salut-box">
      <div class="a">
        <h2>Офлайн курсы и вебинары</h2>
        <p>Знания в&nbsp;области интернет-рекламы позволяют эффективно привлекать посетителей из&nbsp;интернета и&nbsp;увеличивать продажи. Наш обучающий центр приглашает вас на&nbsp;бесплатные семинары в&nbsp;Москве, а&nbsp;также вебинары и&nbsp;интерсивные курсы по&nbsp;поисковому продвижению и&nbsp;контекстной рекламе. Занятия ведут действующие практики, имеющие огромный практический опыт.</p>
      </div>
      <div class="b">
        <div class="img-box center">
          <img src="assets/images/demo/logo/cybermarketing.png" alt="">
        </div>
      </div>
    </div><!-- /.salut-box -->
  </div><!-- /.section -->
</div><!-- /.salut -->
