<div class="salut-clear">
  <div class="section">

    <div class="salut-clear-box">
      <div class="salut-9">
        <h2>Поисковое продвижение (SEO)</h2>
        <p class="lead">Поисковое продвижение&nbsp;&mdash; комплекс мер, направленных на&nbsp;повышение видимости сайта в&nbsp;поисковых системах. Нахождение вашего сайта среди первых результатов позволит вам привлекать большое количество клиентов.</p>
        <p>С&nbsp;SeoPult поисковое продвижение превратится в&nbsp;понятный даже для владельца бизнеса процесс, который можно контролировать на&nbsp;любом этапе. Для seo специалистов использование SeoPult позволяет экономить время и&nbsp;деньги.</p>
        <div class="btn-box">
          <a href="seo.html" class="btn btn-outline">Подробнее</a>
        </div><!-- /.btn-box -->
      </div><!-- /.salut-9 -->
      <div class="salut-4">
        <div class="img-box center">
          <img src="assets/images/services/services_seo.png" width="330" height="389" alt="Поисковое продвижение">
        </div><!-- /.img-box -->
      </div><!-- /.salut-4 -->
    </div><!-- /.salut-clear-box -->

  </div><!-- /.section -->
</div><!-- /.salut -->

<div class="salut-clear">
  <div class="section">

    <div class="salut-clear-box">
      <div class="salut-4">
        <div class="img-box img-box-left">
          <img src="assets/images/services/services_ppc.png" width="330" height="389" alt="Контекстная реклама">
        </div><!-- /.img-box -->
      </div><!-- /.salut-4 -->
      <div class="salut-9">
        <h2>Контекстная реклама</h2>
        <p class="lead">Контекстная реклама&nbsp;&mdash; это тип рекламы, который позволяет показывать рекламное объявление людям, сделавшим запрос поисковой системе, а&nbsp;также таргетироваться по&nbsp;интересам аудитории. Позволяет мгновенно приводить целевую аудиторию на&nbsp;ваш сайт.</p>
        <p>SeoPult позволяет вести контекстную рекламу в&nbsp;Яндекс Директ и&nbsp;Google Adwords из&nbsp;единого кабинета в&nbsp;простых и&nbsp;понятных интерфейсах, а&nbsp;также экономить за&nbsp;счет синергии с&nbsp;SEO.</p>
        <div class="btn-box">
          <a href="" class="btn btn-outline">Подробнее</a>
        </div><!-- /.btn-box -->
      </div><!-- /.salut-9 -->
    </div><!-- /.salut-clear-box -->

  </div><!-- /.section -->
</div><!-- /.salut -->

<div class="salut-clear">
  <div class="section">

    <div class="salut-clear-box">
      <div class="salut-9">
        <h2>Контент–маретинг</h2>
        <p class="lead">Контент-маркетинг&nbsp;&mdash; это написание и&nbsp;размещение качественного контента на&nbsp;популярных площадках рунета. Подобные действия позволяют привлечь на&nbsp;продвигаемый сайт большое количество потенциальных клиентов, а&nbsp;также повысить спрос на&nbsp;продаваемые товары или услуги.</p>
        <p>Используя модуль контент маркетинга в&nbsp;SeoPult вы&nbsp;можете получить обслуживание под ключ или самостоятельно выбрать интересующие вас площадки под решение ваших задач.</p>
        <div class="btn-box">
          <a href="" class="btn btn-outline">Подробнее</a>
        </div><!-- /.btn-box -->
      </div><!-- /.salut-9 -->
      <div class="salut-4">
        <div class="img-box center">
          <img src="assets/images/services/services_content-marketing.png" width="300" height="389" alt="Контент–маретинг">
        </div><!-- /.img-box -->
      </div><!-- /.salut-4 -->
    </div><!-- /.salut-clear-box -->

  </div><!-- /.section -->
</div><!-- /.salut -->

<div class="salut-clear">
  <div class="section">

    <div class="salut-clear-box">
      <div class="salut-4">
        <div class="img-box img-box-left">
          <img src="assets/images/services/services_serm.png" width="300" height="389" alt="Управление репутацией">
        </div><!-- /.img-box -->
      </div><!-- /.salut-4 -->
      <div class="salut-9">
        <h2>Управление репутацией</h2>
        <p class="lead">Управление репутацией сайта в&nbsp;поисковых системах (SERM)&nbsp;&mdash; это комплекс мер направленных на&nbsp;улучшение репутации компании в&nbsp;сети интернет.</p>
        <p>SeoPult помогает найти сайты, которые влияют на&nbsp;репутацию вашей компании и&nbsp;имеют высокую видимость в&nbsp;поисковых системах, а&nbsp;также структуризирует ваши работы над управлением репутацией.</p>
        <div class="btn-box">
          <a href="" class="btn btn-outline">Подробнее</a>
        </div><!-- /.btn-box -->
      </div><!-- /.salut-9 -->
    </div><!-- /.salut-clear-box -->

  </div><!-- /.section -->
</div><!-- /.salut -->
