<div class="salut" id="a2">
  <div class="section">
    <div class="salut-box">
      <div class="a">
        <h2>Обучающие видео</h2>
        <p>За&nbsp;несколько лет работы SeoPult.TV выпустил тысячи интересных передач. <br>На&nbsp;страницах телеканала вы&nbsp;найдете авторские передачи, обучающие ролики и&nbsp;записи вебинаров. Подпишитесь, чтобы всегда оставаться в&nbsp;курсе новых трендов.</p>
      </div>
      <div class="b">
        <div class="img-box center">
          <img src="assets/images/demo/logo/seopulttv.png" alt="">
        </div>
      </div>
    </div><!-- /.salut-box -->
  </div><!-- /.section -->
</div><!-- /.salut -->
