<div class="salut" id="a3">
  <div class="section">
    <div class="salut-box">
      <div class="a">
        <h2>Информационные и обучающие материалы</h2>
        <p>Система SeoPult&nbsp;&mdash; не&nbsp;только инструмент, но&nbsp;и&nbsp;источник знаний о&nbsp;том, как наиболее эффективно продвигать интернет-ресурсы. Подпишитесь на&nbsp;нашу рассылку, чтобы периодически получать новые знания в&nbsp;вашу электронную почту.</p>
      </div>
      <div class="b">
        <div class="img-box center">

        </div>
      </div>
    </div><!-- /.salut-box -->
  </div><!-- /.section -->
</div><!-- /.salut -->
