<div class="salut">
  <div class="section">
    <div class="salut-box">
      <div class="a">
        <p class="lead">Специалист системы SeoPult, который будет работать индивидуально с&nbsp;вашим сайтом. Ваш персональный помощник, который выработает рекомендации по&nbsp;настройке рекламных кампаний в&nbsp;системе, или может выполнить работы за&nbsp;вас.</p>
        <p>Потребности клиентов разные, поэтому у&nbsp;нас есть несколько подходов к&nbsp;работе. Вы&nbsp;всегда можете выбрать необходимый пакет услуг для максимально эффективного решения ваших задач.</p>
        <div class="btn-box"><a href="" class="btn btn-outline">Выбрать пакет услуг</a></div>
      </div>
      <div class="b">
        <div class="img-box top">
        </div>
      </div>
    </div><!-- /.salut-box -->
  </div><!-- /.section -->
</div><!-- /.salut -->
