<div class="salut">
  <div class="section">
    <div class="salut-box" style="padding-bottom: 0;">
      <div class="a">
        <h2>Эффективная работа в SeoPult</h2>
        <p class="lead">Клиенты, выполняющие рекомендации системы получают высокие позиции и&nbsp;трафик из&nbsp;поисковых систем Яндекс, Google, Mail.ru уже 8&nbsp;лет!</p>
        <p class="big">На&nbsp;каждом шаге мы&nbsp;будем подсказывать вам, что необходимо делать для эффективного продвижения, а&nbsp;если у&nbsp;вас не&nbsp;хватает времени&nbsp;&mdash; мы&nbsp;можем сделать все необходимые работы за&nbsp;вас.</p>
        <div class="btn-box"><a href="" class="btn btn-orange">Попробовать бесплатно</a></div>
      </div>
      <div class="b">
        <div class="img-box center">
          <img src="assets/images/demo/demo-traff.jpg" alt="">
        </div>
      </div>
    </div><!-- /.salut-box -->
  </div><!-- /.section -->
</div><!-- /.salut -->
