<div class="mini-menu">
    <h3>Смотрите также</h3>
    <ul class="about-menu">
        <li class="about-menu__item"><a href="#" class="li about-menu__link">Карьера у нас</a></li>
        <li class="about-menu__item"><a href="#" class="li about-menu__link">Сотрудничество</a></li>
        <li class="about-menu__item"><a href="#" class="li about-menu__link">Реферальная программа</a></li>
        <li class="about-menu__item"><a href="#" class="li about-menu__link">Договоры и условия</a></li>
        <li class="about-menu__item"><a href="#" class="li about-menu__link">Логотип</a></li>
        <li class="about-menu__item"><a href="#" class="li about-menu__link">Обратная связь</a></li>
    </ul>
</div><!-- /.mini-menu -->
