<div class="popup popup-auth">
    <div class="close"><include src="../../../images/svg/16x16/close.svg"></include></div><!-- /.close-btn -->
    <div class="auth">
        <div class="auth__tabs">
            <ul class="auth-tabs">
                <li class="auth-tabs__item active"><a href="#">Вход</a></li>
                <li class="auth-tabs__item"><a href="#">Регистрация</a></li>
            </ul>
        </div>
        <div class="auth__profile">
            <div class="auth__field">
                <div class="form-group">
                    <input type="mail" class="form-control" placeholder="Ваш email" required tabindex="1" autofocus>
                </div>
                <div class="form-group">
                    <input type="mail" class="form-control" placeholder="Пароль" required tabindex="2">
                </div>
                <div class="form-group">
                    <p><a href="" title="Если вы забыли пароль — мы поможем вспомнить">Напомнить пароль?</a></p>
                </div>
                <button type="submit" class="btn btn-orange btn-full" disabled>Войти</button>
            </div>
            <div class="auth__social">
                <h3>Войти, используя аккаунт</h3>
                <div class="social-auth"></div>
            </div>
        </div>
    </div>
</div><!-- /.popup popup-video -->
