<div class="cards">
    <div class="section">
        <div class="card-list">
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/code.svg"></include></span></div>
                        <div class="card-title">С чего начать работу в системе</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/loupe.svg"></include></span></div>
                        <div class="card-title">Поисковое продвижение</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/loupe.svg"></include></span></div>
                        <div class="card-title">Поисковое продвижение (light)</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/target.svg"></include></span></div>
                        <div class="card-title">Контекстная реклама</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/megaphone.svg"></include></span></div>
                        <div class="card-title">Контент-<br>маркетинг</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/controls.svg"></include></span></div>
                        <div class="card-title">Дополнительные возможности</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/people.svg"></include></span></div>
                        <div class="card-title">Персональный менеджер</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/text.svg"></include></span></div>
                        <div class="card-title">Услуга «SEO Контент»</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/traf.svg"></include></span></div>
                        <div class="card-title">Трафиковое продвижение</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
            <div class="card__item">
                <a href="manual.html" class="card-link">
                    <div class="card-box">
                        <div class="card-icon"><span class="card-i"><include src="../../../images/svg/40x40/bag.svg"></include></span></div>
                        <div class="card-title">Для юридических лиц</div>
                    </div><!-- /.card-box -->
                </a>
            </div><!-- /.card__item -->
        </div><!-- /.card-list -->
    </div><!-- /.section -->
</div><!-- /.cards -->
