<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Словарь терминов" description="Словарь терминов"></include>
  <body>
    <include src="blocks/_header/_header.html" dictionary="active"></include>
    <include src="blocks/_headline/_headline3_faq.html" h1="Словарь терминов" dictionary="active"></include>
    <include src="blocks/_terms/_terms.html" autofocus="autofocus"></include>
    <include src="blocks/_dictionary-list/_dictionary-list.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
