<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Поддержка и обучение наших клиентов" description="Поддержка и обучение наших клиентов"></include>
  <body>
    <include src="blocks/_header/_header.html" education="active"></include>
    <include src="blocks/_headline/_headline.html"></include>
    <include src="blocks/_salut/_salut.html"></include>
    <include src="blocks/_fishki/_fishki.html"></include>
    <include src="blocks/_cheti/_cheti.html"></include>
    <include src="blocks/_slider/_slider.html"></include>
    <include src="blocks/_salut/_salut2.html"></include>
    <include src="blocks/_fishki/_fishki2.html"></include>
    <include src="blocks/_cheti/_cheti2.html"></include>
    <include src="blocks/_slider/_slider2.html"></include>
    <include src="blocks/_salut/_salut3.html"></include>
    <include src="blocks/_cheti/_cheti3.html"></include>
    <include src="blocks/_slider/_slider3.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
