<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Часто задаваемые вопросы" description="Часто задаваемые вопросы"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline3_faq.html" h1="Часто задаваемые вопросы" faq="active"></include>
    <include src="blocks/_questions/_questions.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
