<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="SeoPult &mdash; автоматизированная рекламная система" description="SeoPult &mdash; автоматизированная рекламная система"></include>
  <body style="margin-top: 0;">
    <include src="blocks/_header/_header-home.html"></include>
    <include src="blocks/_lead/_lead.html"></include>
    <include src="blocks/_salut/_home-salut.html"></include>
    <include src="blocks/_slider/_home-slider.html"></include>
    <include src="blocks/_fishki/_home-fishki.html"></include>
    <include src="blocks/_leader/_leader.html"></include>
    <include src="blocks/_slider/_home-slider2.html"></include>
    <include src="blocks/_fishki/_home-fishki2.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
