<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Сотрудничество с SeoPult" description="Сотрудничество с SeoPult"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline-about2.html" h1="Сотрудничество с SeoPult"></include>
    <div class="about-page">
      <div class="section">
        <div class="single-page">
          <div class="content">
            <div class="insert">
              <div class="insert__img">
                <div class="insert-photo">
                    <img src="assets/images/demo/nradchenkova.png" alt="">
                </div><!-- /.insert-photo -->
              </div><!-- /.insert__img -->
              <div class="insert__text">
                <h2>Уважаемые пользователи!</h2>
                <p>SeoPult открыт для сотрудничества и предлагает взаимовыгодные условия для своих партнеров. Различные возможности партнерской работы предусмотрены как для клиентов Системы, так и для сторонних компаний, разработчиков SEO-сервисов, владельцев крупных хостингов и ссылочных бирж.</p>
                <p>Для более подробного обсуждения условий сотрудничества обращайтесь по адресу <a href="mailto:partner@seopult.ru">partner@seopult.ru</a></p>
                <div class="who"><p>Наталья Радченкова, Директор по маркетингу</p></div>
              </div><!-- /.insert__text -->
            </div><!-- /.insert -->
            <h2>Для владельцев SEO-сервисов</h2>
            <p>Если вы являетесь разработчиком программы или веб-сервиса, облегчающего работу оптимизатора – мы предлагаем вам взаимовыгодное сотрудничество. А именно – интеграцию ваших сервисов или алгоритмов в Систему SeoPult. Это не только сделает вашу разработку более известной и востребованной, но и увеличит функционал нашей Системы. Разумеется, мы готовы обсуждать процентные отчисления за использование ваших модулей или алгоритмов.</p>
            <h2>Для клиентов с большим оборотом в Системе SeoPult</h2>
            <p>Мы постоянно совершенствуем наш сервис и всегда готовы пойти навстречу клиентам. Возможно, в своей работе вы
              делаете упор на определенную тематику, либо работаете с заказчиками на специфических условиях, либо готовите более развернутые отчеты. Для вас мы готовы внести необходимые доработки в Систему. Например, дополнительный отчет, дополнительную выгрузку данных, новые параметры продвижения и т.п.</p>
            <h2>Размещение баннеров Системы SeoPult</h2>
            <p>Интерес к Системе SeoPult непрерывно растёт. Мы предлагаем вам готовые баннеры для размещения на ваших ресурсах, поскольку это позволит более эффективно продвигать ваши реферальские ссылки.</p>
            <p>Баннеры для размещения на ваших ресурсах: <a href="#">посмотреть</a>.</p>
            <h2>Для владельцев технических ресурсов</h2>
            <p>Объем информации, который мы обрабатываем, ежедневно растет. Мы постоянно расширяем свою техническую базу. На данный момент мы рассматриваем предложения по хостингу с неограниченным входящим трафиком (более 10 Тб в месяц с одного порта). Также нам интересна возможность приобретения дополнительных IP-адресов (не менее 1000 в разных B-подсетях).</p>
            <h2>Ссылочные биржи</h2>
            <p>Если вашей ссылочной бирже требуется дополнительный канал продаж, то объединение с Системой SeoPult – это то, что вам нужно. Участие в Системе SeoPult значительно расширит вашу аудиторию и увеличит обороты, ведь ссылки с ваших сайтов-доноров будут продаваться наравне с биржами-лидерами.</p>
          </div> <!-- /.content -->
          <div class="sidebar">
            <include src="blocks/_about/_mini-menu.html"></include>
          </div><!-- /.sidebar -->
        </div><!-- /.single-page -->
      </div><!-- /.section -->
    </div><!-- /.about-page -->
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
