<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Реферальная программа" description="Реферальная программа"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline-about2.html" h1="Реферальная программа"></include>
    <div class="about-page">
      <div class="section">
        <div class="single-page">
          <div class="content">

            <h2>Получайте 25% от дохода Системы с каждого привлеченного пользователя</h2>

            <p>Начисления по реферальной программе производятся ежедневно. Для продвижения вашей реферальной ссылки вы можете использовать любые приличные способы.</p>

            <p>Пожалуйста, не дискредитируйте нашу Систему спамом</p>
            <p>Возможно, вам пригодятся приготовленные нами <a href="">баннеры</a></p>

            <div class="steps__list steps__list--referral">

              <div class="step">
                <div class="step__box">
                  <div class="step__number">
                    <div class="step-number">
                      <span>1</span>
                    </div><!-- /.step-number -->
                  </div><!-- /.step__number -->
                  <div class="step__text">
                    <h3>Подключайтесь к программе</h3>
                    <p>Принять участие в реферальной программе может каждый желающий. Никакие специальные навыки и умения не требуются. </p>
                    <div class="btn-block"><a href="" class="btn btn-orange btn-inline">Подключиться к программе</a></div>
                  </div><!-- /.steps__text -->
                  <div class="step__icon">
                    <div class="step-icon">
                      <span class="steps-i"><include src="../images/svg/40x40/people.svg"></include></span>
                    </div><!-- /.step-icon -->
                  </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
              </div><!-- /.step -->

              <div class="step">
                <div class="step__box">
                  <div class="step__number">
                    <div class="step-number">
                      <span>2</span>
                    </div><!-- /.step-number -->
                  </div><!-- /.step__number -->
                  <div class="step__text">
                    <h3>Приводите пользователей</h3>
                    <p>Всё что необходимо сделать – это посоветовать Систему SeoPult.ru вашим друзьям и знакомым. Дать им реферальную ссылку или воспользоваться баннерами, предназначенными для размещения на Вашем сайте. </p>
                  </div><!-- /.steps__text -->
                  <div class="step__icon">
                    <div class="step-icon">
                      <span class="steps-i"><include src="../images/svg/40x40/analyz.svg"></include></span>
                    </div><!-- /.step-icon -->
                  </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
              </div><!-- /.step -->

              <div class="step">
                <div class="step__box">
                  <div class="step__number">
                    <div class="step-number">
                      <span>3</span>
                    </div><!-- /.step-number -->
                  </div><!-- /.step__number -->
                  <div class="step__text">
                    <h3>Зарабатывайте деньги</h3>
                    <p>Позволяет зарабатывать 25% от дохода Системы с каждого активного пользователя. Чем больше активных клиентов вы привлекли, тем больше Ваш доход</p>
                  </div><!-- /.steps__text -->
                  <div class="step__icon">
                    <div class="step-icon">
                      <span class="steps-i"><include src="../images/svg/40x40/microchip.svg"></include></span>
                    </div><!-- /.step-icon -->
                  </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
              </div><!-- /.step -->

              <div class="step">
                <div class="step__box">
                  <div class="step__number">
                    <div class="step-number">
                      <span>4</span>
                    </div><!-- /.step-number -->
                  </div><!-- /.step__number -->
                  <div class="step__text">
                    <h3>Экономьте на продвижении</h3>
                    <p>Заработанные средства можно расходовать на продвижение сайтов. В Системе множество сайтов продвигается бесплатно, так как доход от реферальной программы перекрывает все расходы. </p>
                  </div><!-- /.steps__text -->
                  <div class="step__icon">
                    <div class="step-icon">
                      <span class="steps-i"><include src="../images/svg/40x40/text.svg"></include></span>
                    </div><!-- /.step-icon -->
                  </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
              </div><!-- /.step -->

              <div class="step">
                <div class="step__box">
                  <div class="step__number">
                    <div class="step-number">
                      <span>5</span>
                    </div><!-- /.step-number -->
                  </div><!-- /.step__number -->
                  <div class="step__text">
                    <h3>Выводите средства</h3>
                    <p>Заработанные средства в полном объеме можно выводить на электронный кошелек</p>
                  </div><!-- /.steps__text -->
                  <div class="step__icon">
                    <div class="step-icon">
                      <span class="steps-i"><include src="../images/svg/40x40/cont.svg"></include></span>
                    </div><!-- /.step-icon -->
                  </div><!-- /.steps__icon -->
                </div><!-- /.step__box -->
              </div><!-- /.step -->

            </div><!-- /.steps__list -->

          </div> <!-- /.content -->
          <div class="sidebar">
            <include src="blocks/_about/_mini-menu.html"></include>
          </div><!-- /.sidebar -->
        </div><!-- /.single-page -->
      </div><!-- /.section -->
    </div><!-- /.about-page -->
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
