<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Логотип сервиса" description="Договора и условия"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline-about2.html" h1="Договора и условия"></include>
    <div class="about-page">
      <div class="section">
        <div class="single-page">
          <div class="content">

          </div> <!-- /.content -->
          <div class="sidebar">
            <include src="blocks/_about/_mini-menu.html"></include>
          </div><!-- /.sidebar -->
        </div><!-- /.single-page -->
      </div><!-- /.section -->
    </div><!-- /.about-page -->
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
