<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Возможности" description="Возможности"></include>
  <body>
    <include src="blocks/_header/_header.html" services="active"></include>
    <include src="blocks/_headline/_headline2.html"></include>
    <include src="blocks/_salut/_salut4.html"></include>
    <include src="blocks/_fishki/_fishki3.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
