<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Информационная рассылка" description="Информационная рассылка"></include>
  <body>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline-subscribe-index.html" h1="Информационная рассылка"></include>
    <include src="blocks/_slider/_slider-last.html"></include>
    <include src="blocks/_slider/_slider3-mode.html"></include>
    <include src="page/_subscribe-index/_subscribe-index.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
