<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Страница технологии системы SeoPult" description="Страница технологии системы SeoPult"></include>
  <body>
    <include src="blocks/_header/_header.html" help="active"></include>
    <include src="blocks/_headline/_headline3_technology.html" h1="Трафиковое продвижение"></include>
    <include src="page/_technology/_technology.html"></include>
    <include src="blocks/_app/_app.html"></include>
    <include src="blocks/_news/_news.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
